@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

/* font-family: "Poppins", sans-serif; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Roboto', sans-serif;  */
/* font-family: 'Lobster', cursive; */

* {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.App { min-height: 100vh; }

.flex { display: flex; align-items: center; }
.grid { display: grid; justify-content: space-evenly; }

button { border: 0; box-shadow: 0; }

a { text-decoration: none; }

input {
    text-indent: 0.5vw;
    min-height: 5vh;
    font-size: clamp(0.75rem, 1.125vw, 1.125rem);
    font-weight: 500;
    color: grey;
    outline: 0; 
    border: 0; 
}

textarea {
    text-indent: 0.5vw;
    font-size: clamp(0.75rem, 1.125vw, 1.125rem);
    font-weight: 500;
    color: grey;
}

.overlay { position: absolute; top: 0; height: 100%; width: 100%; background: rgb(124, 124, 124); opacity: 0.4; }


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 100%; }
}

@keyframes fadeSlideLeft {
    0% { opacity: 0; transform: translateX(-5%);}
    100% { opacity: 1; transform: translateX(0%);}
}

@keyframes fadeSlideUp {
    0% { opacity: 0; transform: translateY(10%);}
    100% { opacity: 1; transform: translateY(0%);}
}

@keyframes fadeSlideDown {
    0% { opacity: 0; transform: translateY(-5%);}
    100% { opacity: 1; transform: translateY(0%);}
}
