@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: space-around;
    line-height: 1.5;
    box-sizing: border-box;
}

.App { padding-top: 50px; min-height: 700px; background: rgb(226, 226, 226); }

#App-header { 
    position: fixed; 
    top: 0; 
    display: flex; 
    height: 60px; 
    width: 100%; 
    background: white;
    border-bottom: 1px solid rgb(241, 241, 241); 
    z-index: 3;
}
#App-header h1 { display: flex; justify-content: center; margin: 0 auto 0 10px; font-family: 'Courgette', cursive; font-size: 30px; width: 30%; color: black; }

#App-header button { 
    font-family: 'Roboto', sans-serif; 
    padding: 8px 0; 
    width: 100px; 
    background: white;
    border-radius: 50px;
    box-shadow: none;
}

#App-header button:hover { box-shadow: 0 0 5px black; }

#about-btn { margin-right: 75px; }
#about-btn:hover { color: white; background: teal; }
#login-btn:hover { color: limegreen; border: 2px solid limegreen; }

#header-buttons { display: flex; justify-content: flex-end; height: 100%; }

#home-left { 
    position: absolute;
    display: flex; 
    background: white; 
    width: 30%; 
    height: 700px; 
    border-right: 1px solid rgb(241, 241, 241);
    z-index: 2;
}

#home-right { 
    position: absolute;
    right: 0;
    display: flex; 
    width: 80%;  
    height: 700px;
    background: url("https://cdn.pixabay.com/photo/2020/05/18/16/17/social-media-5187243_960_720.png");
    background-size: cover;
    background-position: right;
}

#login {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    color: white;
    animation: fadeSlideUp 0.4s linear;
}

#login-label { font-size: 20px; letter-spacing: 1px; color: grey; }
#login input { height: 35px; width: 100%; box-shadow: 0 0 3px; border-radius: 3px;}
#login input:focus { outline-color: rgb(36, 36, 141); }

#sign-in-btn { height: 35px; width: 80%; background: rgb(36, 36, 141); color: white; box-shadow: 0 0 3px black;}
#sign-in-btn:hover { box-shadow: 0 0 5px 2px black; }
#auth-btn { height: 75px; width: 80%; color: white; background: orange; }

#register-form {
    display: grid;
    grid-template-columns: 80%;
    width: 100%;
    min-height: 700px;
    background: white;
    box-shadow: 0 0 5px black;
}

#register-link > button { height: 40px; font-size: 14px; color: white; background: green; }

#register-label {
    margin-top: 50px;
    width: 60%;
    font-family: fantasy;
    font-size: 36px;
    letter-spacing: 1px;
    color: limegreen;
    border-bottom: 2px solid lime;
}

#register-msg { font-size: 20px; color: 'green' }
#input-image { margin: 50px auto 75px 0; width: 25%; box-shadow: 0 0 5px black; }
#input-image input { border: 0; box-shadow: unset;}
#preview-image { height: 250px; width: 100%; object-fit: cover; object-position: center; border-bottom: 1px solid gray; }
#file { text-indent: 10px; line-height: 50px; width: 100%; background: white; box-shadow: 0 2px 3px black; }

#line { height: 2px; background: rgb(236, 236, 236); margin: 25px 0 100px 0;}

#register-form > input { margin-bottom: 30px; border-radius: 5px; box-shadow: 0 0 3px; width: 100%;}
#register-form > input:focus { outline-color: green; }
.input-dot { font-size: 16px; }
.input-dot::after { content: " *"; color: red; }

#register-btn { margin: 80px 0 50px 12.5%; height: 60px; width: 75%; font-size: 16px; color: white; background: limegreen; }

#about {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
    width: 60%;
    background: white;
    border: 1px solid rgb(221, 221, 221);
}

#about-left {
    padding-top: 20px;
    text-align: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#about-left > div { width: 90%; font-size: 32px; animation: fadeSlideDown 0.5s linear; }
#about-left span { font-size: 16px; color: rgb(236, 187, 97); }
#about-left p { margin-left: 3%; width: 90%; font-size: 16px; animation: fadeSlideLeft 0.5s linear; }

#about-right-1 {
    height: 50%;
    background: url("https://www.mindinventory.com/blog/wp-content/uploads/2021/06/mern-stack.png");
}

#about-right-2 {
    height: 100%;
    background: url("https://thumbs.dreamstime.com/b/searching-friends-social-network-24575314.jpg");
}

#about-right-3 {
    height: 80%;
    background: url("https://cdn.pixabay.com/photo/2020/10/01/16/53/game-controller-5619105_960_720.jpg");
}

#about-right-1, #about-right-2, #about-right-3 { 
    display: flex;
    margin-left: 5%; 
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat; 
}

#dashboard { min-height: 900px; }

#chat-container {
    display: inline-flex;
    flex-direction: column;
    align-content: unset;
    justify-content: unset;
    margin: 30px 0 0 10%;
    height: 800px;
    width: 40%;
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    animation: slideUp 0.5s linear;
}

#chat-label {
    position: relative;
    display: flex;
    font-size: 20px;
    height: 60px;
    width: 100%;
    color: white;
    background: teal;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px 5px black;
}

#chat-set { width: 100%; }
#chat { display: flex; justify-content: flex-start; height: 75px; border-bottom: 1px solid gray; }

#chat img { 
    margin: 0 30px; 
    height: 60px; 
    width: 60px; 
    object-fit: cover; 
    border-radius: 10px; 
    box-shadow: 0 0 3px;
}

#chat h1 { font-size: 24px; font-family: 'Lobster', cursive; }
#chat:hover { background: rgb(18, 190, 190); }

#text-format {
    margin: 18px 0 3px 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: unset;
    max-width: 80%;
    min-height: 100px;
    max-height: 300px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 5px;
}

#text-content { margin: 8px 0 0 8px; }
#text-made-by { margin: auto 10px 0 0; text-align: right; color: darkslategray; font-size: 12px; }
#private-chat { margin-top: 40px; min-height: 500px; width: 80%; overflow-y: auto; }
#private-chat::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


#private-chat-header {
    display: flex;
    justify-content: unset;
    padding: 5px 0;
    width: 100%;
    border-bottom: 1px solid rgb(207, 207, 207);
    box-shadow: 0 0 5px grey;
}
#private-chat-header span { display: flex; margin: 0 10px; font-size: 18px; color: gray; }

#back-btn { display: flex; margin-left: 10px; height: 40px; width: 45px; }
#back-btn:hover { background: rgb(0, 179, 179); box-shadow: 0 0 3px 1px darkslategray; }

#private-chat-header img { 
    margin: 0 10px 0 15px; 
    height: 60px; 
    width: 60px; 
    object-fit: cover; 
    border-radius: 50px; 
    box-shadow: 0 0 3px black;
}

#text-input { justify-content: space-evenly; margin: 50px 0 30px 5%; height: 100px; width: 100%;}
#text-input input { height: 100%; width: 70%; box-shadow: 0 0 5px; outline-color: teal;}

#text-input button {  
    height: 80%;
    width: 15%;
    color: white;
    background: teal;
    border-radius: 40px;
}

#side-panel { 
    vertical-align: top;
    display: inline-flex;
    flex-direction: column;
    margin: 0 5% 0 40px;
    height: 525px;
    width: 18%;
    background: white;
    box-shadow: 0 0 3px grey;
    border-radius: 3px;
    z-index: 3;
}

#side-logo { 
    display: flex;
    justify-content: center;
    height: 50px; 
    width: 100%; 
    color: white; 
    background: teal;
    box-shadow: 0 0 2px black;
}
#side-logo > h1 { font-size: 18px; }

.side-li { display: flex; justify-content: flex-start; width: 75%; color: black; margin: 30px 0 0 25%; }
#side-icon { margin-left: 7px; font-size: 24px; }
#logout { color: darkred; margin-top: auto; cursor: pointer; }
#side-user { 
    display: flex; 
    margin-top: 35px; 
    padding: 5px 0; 
    width: 100%; 
    background: darkslategrey; 
    box-shadow: 0 0 4px black;
}
#side-user img { margin-left: 5px; height: 45px; width: 45px; border-radius: 10px; box-shadow: 0 0 5px; }
#side-user h1 { margin: auto; color: rgb(18, 189, 189); }

#search {
    display: inline-block;
    min-height: 600px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    width: 60%;
    background: white;
    border: 2px solid teal;
    border-radius: 3px;
    box-shadow: 0 0 5px gray;
}

#user-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin: 5% 0 0 6%;
    height: 300px;
    width: 25%;
    border-radius: 50px;
}

#user {
    position: absolute;
    justify-content: center;
    background: white;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px;
    border-radius: 50px;
    z-index: 1;
    transition: 0.5s all;
    transition-delay: 0.5s;
}

#user * { transition: 0.5s all; transition-delay: 0.5s; }
#user:hover { height: 500px; width: 300px; z-index: 2;}
#user-image { position: relative; height: 100%; width: 100%; object-fit: cover; border-radius: 50px; }

#user-name {
    position: absolute;
    bottom: 0;
    display: flex;
    font-size: 18px;
    min-height: 50px;
    width: 100%;
    color: white;
    word-break: break-all;
}

#user-add-1 *, #user-add-2 * { font-size: 26px; }
#user:hover #user-name { font-size: 30px; }
#user:hover #user-add-1 *, #user:hover #user-add-2 * { font-size: 32px; }

#user-add-1::after, #user-add-2::after {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(75%, -85%, 0);
    text-align: center;
    padding: 10px 3px;
    width: 150px;
    background: white;
    border-radius: 12px 5px 12px 5px;
    box-shadow: 0 0 3px;
    opacity: 0;
    transition: 2s all;
    transition-delay: 1s;
}

#user-add-1:hover::after { 
    content: 'Add User';
    display: block; 
    color: orange;
    background: rgb(255, 235, 198);
    opacity: 1;
}

#user-add-2:hover::after { 
    content: 'Current Friend';
    display: block; 
    color: limegreen;
    background: rgb(198, 255, 198);
    opacity: 1;
}

#friend {
    display: inline-block;
    margin-bottom: 50px;
    min-height: 700px;
    width: 60%;
    background: white;
    border: 2px solid teal;
    box-shadow: 0 0 5px gray;
    border-radius: 5px;
}

#friend > h1, #search > h1 {
    display: flex; 
    justify-content: flex-start;
    margin-left: 5%;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    letter-spacing: '1px';
    color: teal;
    animation: fadeSlideLeft 0.5s linear;
}

#friend-extend {
    display: inline-grid;
    grid-template-columns: 20% 100px 20%;
    grid-template-rows: 10% 100px auto;
    margin-left: 8%;
    margin-bottom: 8%;
    width: 22%;
    background: rgb(238, 238, 238);
    border: 1px solid teal;
}

#unfriend-icon { position: relative;; grid-column: 1 / 2; margin: 5px auto auto 10px; color: gray; }
#unfriend-icon:hover { color: #b22222; }
#chat-icon { position: relative; grid-column: 3 / 4; margin: 5px 10px auto auto; color: gray; }
#chat-icon:hover { color: teal; }
#chat-icon::after, #unfriend-icon::after {
    display: none;
    position: absolute;
    text-align: center;
    padding: 3px;
    top: 0;
    right: 0;
    transform: translate3d(90%, -95%, 0);
    width: 100px;
    background: white;
    border-radius: 10px 10px 10px 0;
    box-shadow: 0 0 3px black;
}

#chat-icon:hover::after { content: 'Private Chat'; display: block; color: teal; }
#unfriend-icon:hover::after { content: 'Unfriend'; display: block; color: firebrick; }

#friend-profile { 
    grid-column: 2 / 3; 
    height: 100%; 
    width: 100%; 
    object-fit: auto; 
    border-radius: 50px; 
    box-shadow: 0 0 3px black;
    border: 2px solid teal;
}
#friend-name { grid-column: 1 / 4; text-align: center; margin: auto; color: teal; }

button {
    position: relative;
    display: flex;
    margin-right: 10px;
    font-size: 16px;
    border: 0;
    border-radius: 3px; 
    box-shadow: 0 0 3px rgb(44, 44, 44);
    overflow: hidden;
}

button:hover { box-shadow: 0 0 5px 2px black; }

.ripples { 
    position: absolute; background: #fff; transform: translate(-50%, -50%); border-radius: 50%;
    pointer-events: none;
}

.rippleSmall { animation: rippleSmall 1s linear; }
.rippleMedium { animation: rippleMedium 1s linear; }
.rippleLarge { animation: rippleLarge 1s linear; }

a { text-decoration: none; }

input {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    text-indent: 3px;
    width: 85%;
    color: black;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    box-shadow: 0 0 3px gray;
}

input::placeholder { color: gray; }
input:focus { color: black; outline-color: green; outline-offset: 1px; }
    
@media (max-width: 1000px) {
    #friend-extend { 
        grid-template-columns: 20% 75px 20%;
        grid-template-rows: 10% 75px auto; 
        width: 30%; 
    }
}
@media (max-width: 700px) {
    #App-header h1 { display: flex; margin: 0; font-size: 20px; }
    #login-btn, #about-btn { font-size: 14px; height: 35px; width: 50px; }
    #about-btn { margin-right: 0; }
    #home-left { 
        margin: 10% 0 0 15%;
        height: 450px;  
        width: 70%; 
        box-shadow: 0 0 5px;
        border-radius: 5px; 
        z-index: 3;  
    }
    #login { margin-bottom: 0; }
    #auth-btn { margin-right: 5%; width: 90%; font-size: 14px; }
    #register-label { text-align: center; font-size: 30px; width: 80%; }
    #input-image { min-height: 150px ; width: 70%; margin: 30px auto 50px auto;}
    #line { margin: 25px 0 50px 0; }
    #register-form > input { height: 40px; width: 80%; margin: 0 auto 20px auto; }
    #register-form > input::placeholder { font-size: 14px; }
    .input-dot { font-size: 14px; width: 80%; margin: auto; }
    #register-btn { margin: 40px 0 50px 12.5%; }
    #home-right { width: 100%; }
    #about-left > div { font-size: 20px; }
    #about-left p { font-size: 14px; }
    #friend > h1, #search > h1 { font-size: 40px; }
    #user-container { height: 200px; width: 150px; }
    #side-panel { margin: 0 2% 0 40px; }
    #side-logo { font-size: 16px; }
    #side-logo > h1 { display: none; }
    .side-li > h1, #side-user > h1 { display: none; } 
    #side-user > img { margin: auto; }
    #chat-container { width: 70%; margin: 30px 0 0 0; } 
    #text-content { font-size: 12px;margin-right: 0; margin-left: 5px; }
    #private-chat-header { font-size: 16px; }
    #back-btn { height: 30px; width: 35px; }
    #friend { width: 70%; }
    #friend-extend { width: 42%; margin-left: 5%;}
    #search { width: 70%; }
    #user-container { margin: 5% 0 0 3%; width: 45%; height: 200px;}
    #user-name { font-size: 14px; }
}

@keyframes borderSwap {
    0% { box-shadow: 0 0 5px 2px; }
    33% { box-shadow: 0 0 5px 2px green; }
    66% { box-shadow: 0 0 10px 2px red; }
    100% { box-shadow: 0 0 10px 2px blue; }
}

@keyframes rippleSmall {
    0% { width: 0; height: 0; opacity: 0.5;}
    100% { width: 300px; height: 300px; opacity: 0;}
}

@keyframes rippleMedium {
    0% { width: 0; height: 0; opacity: 0.5;}
    100% { width: 600px; height: 600px; opacity: 0;}
}

@keyframes rippleLarge {
    0% { width: 0; height: 0; opacity: 0.5;}
    100% { width: 1000px; height: 1000px; opacity: 0;}
}

@keyframes fadeSlideLeft {
    0% { opacity: 0; transform: translateX(-5%);}
    100% { opacity: 1; transform: translateX(0%);}
}

@keyframes fadeSlideUp {
    0% { opacity: 0; transform: translateY(10%);}
    100% { opacity: 1; transform: translateY(0%);}
}

@keyframes fadeSlideDown {
    0% { opacity: 0; transform: translateY(-5%);}
    100% { opacity: 1; transform: translateY(0%);}
}
