@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    width: auto;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
}

.App {min-height: 800px; background: rgb(224, 224, 224);}

#App-header {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    background: linear-gradient(45deg, blue, rgb(61, 61, 156));
    box-shadow: 0 3px 5px black;
}

#App-header h1 {
    margin-left: auto;
    font-family: 'Source Serif Pro', serif;
    font-size: 30px;
    width: 30%;
    color: white;
}

#App-header button {
    font-family: 'Source Serif Pro', serif;
    padding: 10px 0;
    width: 100px;
    color: white;
    background: rgb(36, 36, 168);
}

#home {
    display: flex;
    min-height: 800px;
    background: url("https://images.pexels.com/photos/1111369/pexels-photo-1111369.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}

#login {
    margin-bottom: 125px;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    color: white;
    background: linear-gradient(45deg, red, orange);
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    animation: translateX 0.5s ease-out;
}

@keyframes translateX {
    0% { transform: translateX(-100%) }
    100% { transform: translateX(0%) }
}

#register {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 75px 0 75px 15%;
    min-height: 700px;
    width: 70%;
    background: linear-gradient(45deg, purple, gold);
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    animation: scale 0.5s linear;
}

#login-link, #register-link {
    margin: 0 auto 0 10%;
    font-size: 16px;
    color: sandybrown
}

@keyframes scale {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

#register-label {
    text-align: center;
    font-family: fantasy;
    font-size: 32px;
    color: transparent;
    background: linear-gradient(45deg, orange, red);
    background-clip: text;
}

#input-container {
    margin-bottom: 50px; 
    display: flex;
    width: 100%; 
}

#input-image {
    display: flex;
    flex-direction: column;
    width: 30%;
    box-shadow: 0 -1px 5px black;
}

#preview-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid gray;
}

#file { 
    text-indent: 10px;
    line-height: 50px;
    width: 100%; 
    background: white;
    box-shadow: 0 2px 3px black; 
}

#input-credentials { width: 500px; }

.input-dot::after { content: " *"; color: red; }

#register-btn {
    height: 50px;
    width: 85%;
    color: white;
    background: linear-gradient(45deg, orange, red);
}

button {
    margin-right: 5px;
    font-size: 16px;
    border: 0;
    border-radius: 3px; 
    box-shadow: 0 0 3px rgb(44, 44, 44);
}

button:hover { box-shadow: 0 0 5px 2px black; }

a { text-decoration: none; }

input {
    font-size: 16px;
    font-family: 'Source Serif Pro', serif;
    height: 50px;
    text-indent: 3px;
    width: 85%;
    color: gray;
    border: 0;
    border-radius: 0 3px 3px 0;
    box-shadow: 1px 0 5px black;
}

input:focus {
    color: black; 
    outline-color: orange; 
    outline-offset: 1px
}



