.about-section { padding: 0 0 10vh 0; grid-template-columns: 45% 45%; justify-content: center; background: white; }
.about {
    margin: 5vh auto 0 auto;
    padding: 3vh 2vw 2vh 1vw;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    min-height: 40vh;
    width: 90%;
    background: white;
    border-radius: 0.25rem;
    border: 1px solid rgb(190, 190, 190);
}

.about > div:not(.about-image) { font-size: clamp(1rem, 2vw, 2rem); width: 90%; animation: fadeSlideDown 0.5s ease-in; }
.about span { font-size: clamp(0.75rem, 1vw, 1rem); color: green; }
.about > p { 
    font-size: clamp(0.75rem, 1.5vw, 1rem); 
    margin: 0 auto; 
    padding: 5vh 0;
    width: 90%; 
    color: gray; 
    border-top: 1px solid grey;
    animation: fadeSlideLeft 0.5s ease-in; 
}

.about-1 .about-image {
    min-height: 15vh;
    background-image: url("https://live.staticflickr.com/65535/51350239267_54560763e6_b.jpg");
}

.about-2 .about-image {
    min-height: 40vh;
    background-image: url("https://thumbs.dreamstime.com/b/searching-friends-social-network-24575314.jpg");
}

.about-3 .about-image {
    min-height: 40vh;
    background-image: url("https://cdn.pixabay.com/photo/2020/10/01/16/53/game-controller-5619105_960_720.jpg");
}

.about-image { 
    margin: 2vh auto; 
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
}

@media (max-width: 50rem) {
    .about-section { padding: 2vh 0; grid-template-columns: 100%; }
    .about { margin: 2vh auto; width: 90%; }
    .about-image { min-height: 15vh !important; width: 100%; }
}