.chat-page { min-height: 75vh; width: 100%; grid-template-columns: 40% 57.5%; justify-content: center; }

.conversation-log {
    margin: 5vh 0 5vh auto;
    padding-bottom: 10vh;
    width: 95%;
    height: fit-content;
    min-height: 75vh;
    color: gainsboro;
    background: rgb(243, 243, 243);
    box-shadow: 0 0 3px gray;
    border-radius: 0.375rem;
    overflow: scroll;
}

.conversation-log::-webkit-scrollbar { display: none; }

.conversation-label {
    justify-content: space-around;
    min-height: 4rem;
    width: 100%;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: 700;
    color: gray;
    border-bottom: 1px solid rgb(165, 165, 165);
}
.conversation-set { flex-direction: column; width: 100%; }
.conversation-default { 
    margin: 30% auto 0 auto;
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 2rem); 
    font-style: italic;
}
.conversation-wrapper { position: relative; width: 100%; color: rgb(48, 48, 48); border-bottom: 1px solid rgb(165, 165, 165); } 
.conversation-wrapper.highlight { color: rgb(48, 48, 48); background: rgb(221, 221, 221); }
.conversation-wrapper:hover { color: rgb(48, 48, 48); background: rgb(221, 221, 221); z-index: 3; }
.conversation { padding: 1vh 0; justify-content: flex-start; height: 12.5vh; width: 85%; transition: all 0.3s ease-in; }
.conversation > img { 
    margin: auto 2vw; 
    height: 10vh; 
    width: 10vh;
    object-fit: cover; 
    border-radius: 4rem; 
}

.conversation-preview { height: 75%; overflow: hidden; }
.conversation-preview > h1 { font-size: 0.875rem; margin: auto 0; word-wrap: break-word; }
.text-preview { font-size: clamp(0.75rem, 1vw, 0.875rem); color: grey; word-wrap: break-word; }

.trash-wrapper { justify-content: center; height: 100%; width: 15%; }
.trash-icon { position: relative; font-size: clamp(1.5rem, 1.5vw, 1.75rem); color: gray; z-index: 2; }
.trash-overlay {
    position: absolute;
    inset: 0 0 auto auto;
    justify-content: center;
    letter-spacing: 1px;
    font-size: clamp(1rem, 1.25vw, 1.25rem); 
    font-style: italic;
    font-weight: 700;
    height: 100%;
    width: 100%;
    color: white;
    background: royalblue;
    opacity: 0;
    z-index: -1;
    transition: all 0.2s ease-in;
}
.trash-wrapper:hover .trash-overlay { z-index: 1; opacity: 1; }
.trash-wrapper:hover .trash-icon { color: rgb(196, 196, 196) }


@media (max-width: 50rem) {
    .chat-page { grid-template-columns: 100%; width: 100%; }
    .conversation-log { margin: 2vh auto 4vh auto; height: 30vh; }
    .conversation-preview > h1 { padding: 0 max(0.5vw, 0.5rem); }

    .conversation-log:not(.focus) { display: none; }
}

@media (max-width: 25rem) {
    .conversation-preview > h1 { font-size: 0.75rem; }
}