.chat-page { min-height: 50vh; width: 100%; grid-template-columns: 35% 60%; }

.chat-log {
    margin: 5vh 0;
    width: 100%;
    color: white;
    background: rgb(54, 54, 54);
    box-shadow: 0 0 3px black;
    border-radius: 0.375rem;
    overflow: hidden;
}

.chat-label {
    justify-content: space-around;
    min-height: 4rem;
    width: 100%;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: 700;
    color: black !important;
    background: gold;
    box-shadow: 0 1px 3pxrgb(34, 34, 34)k;
}
.chat-set { flex-direction: column; width: 100%; }
.chat-default { 
    margin-top: 30%;
    font-size: clamp(2rem, 3vw, 4rem); 
    font-style: italic;
}
.chat-wrapper { width: 100%; border-bottom: 1px solid rgb(31, 31, 31); } 
.chat-wrapper.highlight { background: black; color: gold; }
.chat { padding: 1vh 0; justify-content: flex-start; flex-wrap: wrap; height: 100%; width: 100%; transition: all 0.3s ease-in; }
.chat img { 
    margin: auto 2vw; 
    height: 3.9rem; 
    width: 4.5rem; 
    object-fit: cover; 
    border-radius: 10px; 
}
.chat h1 { font-size: clamp(1.25rem, 1.5vw, 1.375rem); margin: auto 0; word-wrap: break-word; }
.chat:hover { 
    color: gold;
    background: black; 
    z-index: 3;
}

@media (max-width: 50rem) {
    .chat-page { grid-template-columns: 100%; width: 95%; }
    .chat-log.close { display: none; }
    .chat-log.open { display: unset !important; }
}