.comment-page {
    position: relative;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
}

.comment-nav {
    margin-top: 3vh;
    position: sticky;
    top: 0;
    left: 5%;
    padding: 2vh 2vw;
    width: 95%;
    background: tomato;
    box-shadow: 0 2px 3px rgb(141, 141, 141);
    z-index: 4;
}

.comment-nav-link { column-gap: 0.5vw; color: white; }

.comment-nav-link:hover * { opacity: 0.9; text-decoration: underline; }

.comment-nav-icon { font-size: clamp(1rem, 1.25vw, 1.25rem); }

.comment-nav-text > span { font-size: clamp(0.75rem, 1vw, 1rem); }

.primary-post {
    flex-direction: column;
    padding: 2vh 2vw;
    min-height: 30vh;
    width: 95%;
    row-gap: 1vh;
    background: rgb(249, 249, 255);
    box-shadow: 1px 1px 2px gray;
}

.primary-user { column-gap: 1vw; width: 100%; }

.primary-user > .poster-name { font-size: clamp(0.75rem, 1vw, 1rem); }

.primary-user > img {
    height: 5.5vh;
    width: 5.5vh;
    object-fit: cover;
    border-radius: 4rem;
    box-shadow: 0 0 1px;
}

.comment-page > .primary-text { font-size: clamp(0.625rem, 1vw, 1rem); }

.comment-hr {
    margin: 5vh 0 2vh 0;
    border-top: 1px solid rgb(214, 214, 214);
    width: 95%;
}

.comment-input-wrapper {
    margin: 2.5vh 0;
    padding: 2vh 2vw 3vh 2vw;
    gap: 1vh;
    width: 90%;
    background: rgb(251, 251, 255);
    border-bottom: 1px solid rgb(199, 199, 199);
    box-shadow: 0 1px 2px rgb(223, 223, 223);
    border-radius: 0.5rem;
}

.comment-label { font-weight: 500; font-size: clamp(0.75rem, 1vw, 1rem); text-transform: uppercase; color: tomato; }

.comment-input-wrapper > img {
    padding: 0.05vw;
    object-fit: cover;
    height: 6.5vh;
    width: 6.5vh;
    box-shadow: 0 0 1px grey;
    border: 1px solid gray;
    border-radius: 3rem;
}

.comment-input { min-height: 7.5vh; width: 90%; }

.comment-input > input {
    height: 6.5vh;
    width: 70%;
    font-size: clamp(0.75rem, 1vw, 1rem);
    font-weight: 700;
    background: transparent;
    color: black;
    border-bottom: 2px solid tomato;
}

.comment-input > input::placeholder { color: tomato; font-size: clamp(0.75rem, 1vw, 1rem); }

.comment-camera { padding: 0 2vw; height: 6.5vh; border-bottom: 2px solid tomato; }

.comment-camera-icon { font-size: clamp(1.375rem, 2vw, 1.5rem); color: tomato; }

.comment-send {
    justify-content: center;
    padding-right: 0.5vw;
    height: 6.5vh;
    color: rgb(102, 102, 102);
    border-bottom: 2px solid tomato;
}

.comment-send-wrapper {
    justify-content: center;
    padding: 0 2.5vw;
    height: 80%;
    background: tomato;
    border-radius: 0.5rem;
}

.comment-send-wrapper:hover { opacity: 0.7; }

.comment-send-icon { font-size: clamp(1.375rem, 1.5vw, 1.5rem); color: white; }

.comment-collection { flex-direction: column; row-gap: 0.25vh; width: 95%; }

.comment {
    padding: 4vh 1.5vw 4vh 2.5vw;
    min-height: 7.5vh;
    width: 97.5%;
    column-gap: 1vw;
    background: white;
    border-bottom: 1px solid rgb(199, 199, 199);
    box-shadow: 0 1px 2px rgb(223, 223, 223);
    border-radius: 1rem;
    overflow: hidden;
}

.comment-profile > img {
    object-fit: cover;
    height: 5vh;
    width: 5vh;
    box-shadow: 0 0 1px;
    border-radius: 4rem;
}

.comment-name { margin-left: 1vw; font-size: clamp(0.75rem, 0.875vw, 0.875rem); font-weight: 700; color: tomato; }

.comment-content { font-size: clamp(0.75rem, 1vw, 1rem); color: rgb(94, 94, 94); }

.comment-empty { margin: 5vh auto 0 auto; justify-content: center; column-gap: 0.5vw; }

.comment-empty > span { text-transform: capitalize; font-size: clamp(0.75rem, 1.25vw, 1.25rem); color: grey; }

.cat-icon { font-size: clamp(1.25rem, 1.75vw, 1.75rem); color: grey; }

@media (max-width: 60rem) {
    .comment-page { width: 100%; }
    .comment-nav { margin-top: 0; left: 0; width: 100%; }
}

@media (max-width: 50rem) { 
    .comment-input-wrapper { flex-wrap: wrap; margin: 2.5vh 0; }
    .comment-input-wrapper > img { height: 6vh; width: 6vh; }
    .comment { padding: 1.5vh 1.5vw 1.5vh 2.5vw; flex-direction: column; align-items: flex-start; } 
}

@media (max-width: 25rem) {
    .comment-nav { padding: 1vh 2vw; }
    .primary-post { width: 100%; box-shadow: none; }
    .primary-user { column-gap: 3vw; }
    .comment-hr { display: none; }
    .comment-collection { width: 100%; }
    .comment { padding: 1vh 0.25vw 1vh 3vw; border-radius: 0; width: 100%; }
    .comment-input-wrapper { padding: 1vh 1.5vw 2.5vh 1.5vw; width: 97.5%; }
    .comment-input { align-items: flex-end; flex-direction: column; width: 99%; }
    .comment-input > input { width: 100%; }
    .comment-name { margin-left: 3vw; }
    .comment-input, .comment-camera, .comment-send { height: 5vh; border: 0; border-radius: 0; }
    .comment-camera, .comment-send, .comment-send-wrapper { background: transparent; }
    .comment-send-icon { color: tomato; }
}
