.community-page {
    margin: 0 auto;
    padding: 2vh 0 10vh 0;
    min-height: 100vh;
    width: 95%;
    background: white;
}

.community-page-banner {
    position: relative;
    width: 100%;
    border: 1px solid rgb(180, 180, 180);
    overflow: hidden;
}

.community-page-banner-top {
    position: relative;
    min-height: 17.5vh;
    width: 100%;
}

.community-page-banner-top > img {
    position: absolute;
    inset: 0 auto auto 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.community-page-exit {
    position: absolute;
    inset: 7.5% auto auto 2.5%;
    z-index: 1;
}

.community-page-exit > .back-btn {
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: white;
}

.community-page-exit > span {
    font-size: clamp(0.875rem, 1.25vw, 1.25rem);
    color: white;
}

.community-page-exit:hover { opacity: 0.7; }

.community-page-banner-down {
    position: relative;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 17.5vh;
    width: 100%;
    color: rgb(131, 131, 131);
}

.community-page-profile {
    padding: 0.25vh;
    position: absolute;
    inset: 0 auto auto 2.5%;
    transform: translateY(-50%);
    height: 15vh;
    width: 15vh;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 10rem;
}


.community-page-label {
    flex-direction: column;
}

.community-page-info {
    padding: auto 2.5vw;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: fit-content;
}

.community-page-name {
    font-size: clamp(1rem, 1.75vw, 1.75rem);
    font-weight: bold;
    color: rgb(92, 92, 92);
}

.community-page-members {
    font-size: clamp(0.75rem, 1.125vw, 1.125rem);
    font-weight: 700;
    color: rgb(160, 160, 160);
}

.community-page-buttons {
    justify-content: center;
    column-gap: 2vw;
    row-gap: 1vh;
}

.community-page-join {
    padding: 1vh 1.5vw;
    font-weight: 500;
    font-size: clamp(0.675rem, 1vw, 1rem);
    letter-spacing: 1px;
    color: white;
    background: royalblue;
    box-shadow: 0 0 3px rgb(65, 65, 65);
    border-radius: 3rem;
}

.community-page-join::after {
    content: 'Join'
}

.community-page-join.joined {
    background: limegreen;
}

.community-page-join.joined::after {
    content: 'Joined';
}

.community-page-info-button {
    justify-content: center;
    column-gap: 0.5vh;
    border-bottom: 2px solid transparent;
}

.circle-icon {
    font-size: clamp(1.25rem, 1.5vw, 1.5rem);
}

.community-page-info-button > span {
    font-size: clamp(0.75rem, 1.125vw, 1.125rem);
}

.community-page-info-button:hover {
    border-color: grey;
} 

.community-page-join:hover { opacity: 0.7; }

.community-page-description {
    margin: 0 auto 8vh auto;
    justify-content: center;
    font-size: clamp(0.75rem, 1.125vw, 1.125rem);
    width: 100%;
    color: gray;
}

.community-page-description:hover {
    background: white;
} 

.community-page-posts {
    flex-direction: column;
    row-gap: 10vh;
    justify-content: center;
}

.community-page-post {
    padding-bottom: 7.5vh;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 2vh;
    width: 80%;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 0.5rem;
    overflow: hidden;
}

.community-page-post-header {
    padding: 2vh 2vw 0 2vw;
    gap: 1vw;
}

.community-page-post-header > img {
    height: 10vh;
    width: 10vh;
    border-radius: 4rem;
}

.community-page-post-header > span {
    font-weight: 700;
    font-size: clamp(0.75rem, 1.25vw, 1.25rem);
    color: rgb(131, 131, 131);
}

.community-page-post > span {
    align-self: center;
    padding: 0 1vw;
    font-size: clamp(0.75rem, 1.25vw, 1.25rem);
    width: 90%;
}

.community-page-post > img {
    margin: 0 auto;
    max-height: 70vh;
    max-width: 90%;
    object-fit: cover;
}

.community-page-empty {
    min-height: 50vh;
    column-gap: 1vw;
    color: rgb(160, 160, 160);
}

.community-page-empty > span {
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.community-page-empty > .cat-icon {
    font-size: clamp(2.75rem, 2.5vw, 3.5rem);
}

@media (max-width: 50rem) {
    .community-page-exit { inset: 5% 7% auto auto; }
    .community-page-profile { height: 11vh; width: 11vh; }
    .community-page-buttons { width: 100%; }
    .community-page-info-button { border-bottom: 1px solid transparent; }
    .community-page-description { margin: 0 auto 3vh auto; }
    .community-page-posts { row-gap: 3vh; }
    .community-page-post { width: 100%; }
    .community-page-post > span { padding: 0 0.25vw; }
}

@media (max-width: 25rem) {
    .community-page-banner-top { min-height: 5vh; }
    .community-page-banner-down { min-height: 15vh; }
    .community-page-profile { inset: 0 auto auto 2.5%; height: 8.5vh; width: 8.5vh;  }
    .community-page-label { margin-top: 3%; }
    .community-page-name { font-size: 0.75rem; }
    .community-page-join { padding: 0.5vh 1.5vw; }
    .community-page-post-header { gap: 2vw; }
    .community-page-post-header > img { height: 7.5vh; width: 7.5vh; }
}

@media (max-width: 15rem) {
    .community-page-banner-top { min-height: 7.5vh; }
    .community-page-label { margin-top: 20%; }
}