.comment-section {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.comment-input-wrapper {
    gap: 1vh;
    margin: 3vh 0 1vh 0;
    width: 100%;
}

.comment-input-wrapper > img {
    object-fit: cover;
    height: 7.5vh;
    width: 7.5vh;
    border-radius: 5rem;
    box-shadow: 0 0 1px;
}

.comment-input {
    height: 6.5vh;
    width: 100%;
}

.comment-input > input {
    height: 100%;
    width: 70%;
    background: rgb(233, 233, 233);
    border-radius: 5rem 0 0 5rem;
}

.comment-camera {
    padding: 0 2vw;
    height: 6.5vh;
    background: rgb(233, 233, 233);
}

.comment-camera-icon {
    font-size: 1.5rem;
    color: rgb(102, 102, 102);
}

.comment-send {
    justify-content: center;
    padding-right: 0.5vw;
    height: 6.5vh;
    color: rgb(102, 102, 102);
    background: rgb(233, 233, 233);
    border-radius: 0 5rem 5rem 0;
}

.comment-send-wrapper {
    justify-content: center;
    padding: 0 2.5vw;
    height: 80%;
    background: rgb(182, 182, 182);
    border-radius: 4rem;
}

.comment-send-wrapper:hover { opacity: 0.7; }

.comment-send-icon {
    font-size: 1.25rem;
    color: rgb(68, 68, 68);
}

.comment-label {
    margin: 2.5vh 0;
    align-self: flex-start;
    column-gap: 0.5vw;
    font-weight: 500;
    color: rgb(102, 102, 102);
}

.comment-down-icon {
    font-size: 1.25rem;
}

.comment-collection {
    flex-direction: column;
    row-gap: 1vh;
    width: 100%;
    color: grey;
}

.comment {
    padding: 2vh 2vw;
    column-gap: 1vw;
    font-weight: 500;
    min-height: 10vh;
    width: 100%;
    background: royalblue;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5rem;
}

.comment-profile {
    object-fit: cover;
    height: 7.5vh;
    width: 7.5vh;
    box-shadow: 0 0 1px;
    border-radius: 3rem;
}

.comment-name {
    margin-right: 1vw;
    font-size: 0.875rem;
    color: rgb(233, 233, 233);
}

.comment-content {
    font-size: 0.875rem;
    color: white;
}

.comment-empty { margin: 0 auto; justify-content: center; column-gap: 0.5vw; }

.comment-empty > span {
    text-transform: capitalize;
}

.cat-icon {
    font-size: 1.5rem;
}

@media (max-width: 25rem) {
    .comment-input-wrapper {
        flex-wrap: wrap;
    }
}
