.community-page {
    position: relative;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 10vh 0;
    min-height: 100vh;
    background: white;
}

.community-bg {
    position: sticky;
    inset: 0 auto auto 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.4;
}

.community-bg > img { height: 100vh; width: 100%; object-fit: cover; }

.community-page-banner {
    position: relative;
    width: 95%;
    background: white;
    box-shadow: 0 1px 3px rgb(184, 184, 184);
    overflow: hidden;
    z-index: 2;
}

.community-page-banner-top { position: relative; min-height: 17.5vh; width: 100%; }
.community-page-banner-top > img { position: absolute; inset: 0 auto auto 0; height: 100%; width: 100%; object-fit: cover; }

.community-page-exit { position: absolute; inset: 7.5% auto auto 2.5%; z-index: 1; }
.community-page-exit > .back-btn { font-size: clamp(1.25rem, 2vw, 2rem); color: white; }
.community-page-exit > span { font-size: clamp(0.75rem, 1.25vw, 1.25rem); color: white; }
.community-page-exit:hover { opacity: 0.7; }

.community-page-banner-down {
    position: relative;
    justify-content: space-around;
    min-height: 15vh;
    width: 100%;
    color: rgb(131, 131, 131);
}

.community-page-profile {
    padding: 0.125vh;
    position: absolute;
    inset: 0 auto auto 2.5%;
    transform: translateY(-50%);
    height: 15vh;
    width: 15vh;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 10rem;
}

.community-page-label { flex-direction: column; }

.community-page-info {
    padding: 0 2.5vw;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: fit-content;
}

.community-page-name {
    font-size: clamp(0.875rem, 1.25vw, 1.25rem);
    font-weight: 700;
    color: rgb(65, 65, 65);
}

.community-page-members {
    font-size: clamp(0.625rem, 1vw, 1rem);
    font-weight: 500;
    color: rgb(160, 160, 160);
}

.community-page-buttons { justify-content: center; column-gap: 2vw; row-gap: 1vh; }

.community-page-join {
    padding: 1vh 1.5vw;
    font-weight: 500;
    font-size: clamp(0.625rem, 1vw, 1rem);
    color: white;
    background: navy;
    box-shadow: 0 0 3px rgb(65, 65, 65);
    border-radius: 3rem;
}

.community-page-join::after { content: 'Join' }
.community-page-join.joined { background: limegreen; }
.community-page-join.joined::after { content: 'Joined'; }

.community-page-info-button {
    justify-content: center;
    column-gap: 0.5vh;
    border-bottom: 2px solid transparent;
}

.circle-icon { font-size: clamp(1.25rem, 1.5vw, 1.5rem); }

.community-page-info-button > span { font-size: clamp(0.625rem, 1vw, 1rem); }
.community-page-info-button:hover { border-color: grey; } 

.community-page-join:hover { opacity: 0.7; }

.community-page-description {
    margin: 0 auto 5vh auto;
    justify-content: center;
    font-size: clamp(0.75rem, 1.125vw, 1.125rem);
    width: 95%;
    color: rgb(99, 99, 99);
    background: white;
    z-index: 1;
}

.community-page-posts { flex-direction: column; justify-content: center; row-gap: 5vh; }

@media (max-width: 50rem) {
    .community-page { padding: 0 0 2.5vh 0; }
    .community-page-banner { width: 97.5% }
    .community-page-exit { inset: 5% 7% auto auto; }
    .community-page-profile { height: 11vh; width: 11vh; }
    .community-page-name { font-weight: 700; }
    .community-page-members { font-weight: 500; }
    .community-page-info-button { border-bottom: 1px solid transparent; }
    .community-page-description { margin: 0 auto 3vh auto; width: 97.5%; }
    .community-page-posts { row-gap: 3vh; }
}

@media (max-width: 25rem) {
    .community-page-banner { width: 100% }
    .community-page-banner-down { flex-wrap: wrap; }
    .community-page-profile { inset: 0 auto auto 2.5%; height: 8.5vh; width: 8.5vh;  }
    .community-page-name { font-size: 0.75rem; }
    .community-page-join { padding: 0.5vh 1.5vw; }
    .community-page-buttons { width: 100%; }
    .community-page-description { width: 100%; }
    .community-page-posts { row-gap: 1vh; }
}

@media (max-width: 15rem) {
    .community-page-banner-top { min-height: 7.5vh; }
    .community-page-profile { height: 7vh; width: 7vh;  }
    .community-page-label { margin-top: 12.5%; }
}