.dashboard { 
    padding-bottom: 10vh;
    grid-template-columns: 25% 75%;
    justify-content: center;
    min-height: 100vh; 
    background: rgb(230, 230, 230); 
}

@media (max-width: 60rem) {
    .dashboard { grid-template-columns: 95%; }
}