.friend-page {
    margin: 2vh auto;
    padding: 5vh 0 15vh 0;
    min-height: 120vh;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.friend-wrapper { margin: 0 auto; grid-template-columns: 15% 15% 15% 15% 15%; row-gap: 3vh; justify-content: space-evenly; width: 100%; }
.friend-wrapper-label {
    grid-column: 1 / 6;
    margin: 0 auto 5vh auto;
    letter-spacing: 0.125rem;
    font-size: clamp(1.5rem, 3vw, 3rem);
    width: 100%;
    color: gray;
    animation: fadeSlideLeft 0.5s ease-in forwards; 
}

.friend-wrapper-text > span { font-size: clamp(1.5rem, 2.5vw, 2.5rem); letter-spacing: 0.125rem; }

.friend-container {
    position: relative;
    padding: 2.5vh 0 1vh 0; 
    height: fit-content;
    width: 100%;
    background: rgb(36, 36, 36);
    border-radius: 1rem; 
    overflow: hidden;
}
.friend-container.expand { overflow: unset; box-shadow: 0 0 3px; }
.friend-container:hover { box-shadow: 0 0 3px black; }

.friend { flex-direction: column; width: 100%; }

.friend-image { 
    width: 100%; 
    object-fit: cover;
    height: 20vh;
    width: min(20vh, 100%); 
    box-shadow: 0 0 3px black;
    border-radius: 5rem;
}
.friend-name { 
    text-align: center; 
    margin: 1vh auto;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: rgb(119, 119, 119);
}

.friend-preview {
    position: absolute;
    inset: 0 0 auto auto;
    align-self: flex-end;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    color: rgb(170, 170, 170);
    background: rgb(34, 34, 34);
    border-radius: 0.5rem;
    box-shadow: 0 0 3px black;
    transform: translateX(102%);
    z-index: 3;
}

.friend-preview.left { inset: 0 auto auto 0; transform: translateX(-102%); }

.profile-view { margin-bottom: 2vh; text-align: center; font-size: clamp(0.875rem, 1vw, 1rem); color: gray; }
.profile-view:hover { color: gold; }

.friend-bio { padding: 1vh 1vw; }
.friend-bio > span { font-size: clamp(0.875rem, 1vw, 1rem); }

.friend-buttons { display: none; grid-template-columns: 40% 40%; }
.friend-container:hover .friend-buttons { display: grid;  }

.friend-buttons > button { 
    padding: 0.5vh 0; 
    justify-content: center; 
    font-size: clamp(0.875rem, 1vw, 1rem); 
    border-radius: 0.5rem; 
}
.chat-button { color: orange; background: transparent; border: 1px solid; }
.remove-button { color: rgb(160, 58, 58); background: transparent; border: 1px solid; }

.modal-text > span { color: orange; font-weight: 700; }
.modal-btns { width: 100%; justify-content: space-between; }
.modal-btns > button { padding: 2.5vh 0; width: 48%; font-weight: 700; background: transparent; }
.modal-btns > button:hover { box-shadow: 0 0 3px black; }
.cancel-btn { color: gray; border: 1px solid; }
.submit-btn { color: darkred; border: 1px solid; }

.cancel-btn:hover { background: gray; color: black; }
.submit-btn:hover { background: darkred; color: gainsboro; border-color: darkred; }

@keyframes slideRight {
    0%  { opacity: 0; width: 0; }
    100% { opacity: 1; width: 75%; }
}

@media (max-width: 60rem) {
    .friend-wrapper { grid-template-columns: 30% 30% 30%; row-gap: 1vh; }
    .friend-wrapper-label { grid-column: 1 / 4; }
}

@media (max-width: 50rem) {
    .friend-wrapper { grid-template-columns: 40% 40%; }
    .friend-wrapper-label { grid-column: 1 / 3; }
}

@media (max-width: 25rem) {
    .friend-wrapper { grid-template-columns: 95%; }
    .friend-wrapper-label { grid-column: 1 / 2; }
    .profile-view:hover + .friend-preview { transform: translateX(0); }
}
