.friend-count {
    margin-bottom: auto;
    padding: 2vh 2vw;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    min-height: 35vh;
}

.friend-count-label {
    font-size: clamp(1rem, 2vw, 2rem);
    padding-left: 1.5vw;
    font-weight: 700;
    color: royalblue;
    border-left: 3px solid;
}

.friend-headers { margin-top: 2vh; flex-wrap: wrap; column-gap: 1vw; row-gap: 1vw; }
.friend-headers > h1 { color: grey; }

.friend-header {
    height: 15vh;
    width: 15vh;
    object-fit: cover;
    border-radius: 5rem;
    box-shadow: 0 0 2px;
}

@media (max-width: 50rem) {
    .friend-count { width: 100%; }
    .friend-header { height: 10vh; width: 10vh; } 
}
