.friend-count {
    margin-bottom: auto;
    padding: 2vh 2vw;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    width: 49.5%;
    min-height: 50vh;
    background: rgb(19, 19, 19);
    box-shadow: 0 0 1px;
}

.friend-count-label {
    font-size: clamp(1.5rem, 2vw, 2rem);
    padding-left: 1.5vw;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    color: gold;
    border-left: 3px solid;
}

.friend-headers { margin-top: 2vh; flex-wrap: wrap; column-gap: 1vw; }
.friend-headers > h1 { color: white; }

.friend-header {
    height: 10vh;
    width: 10vh;
    object-fit: cover;
    border-radius: 5rem;
    box-shadow: 0 0 2px;
}

@media (max-width: 50rem) {
    .friend-count { width: 100%; }
}
