.friend-page {
    padding: 2.5vh 0 5vh 0;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.friend-wrapper { margin: 0 auto; grid-template-columns: 20% 20% 20% 20%; gap: 3vh; justify-content: center; width: 100%; }
.friend-wrapper-label {
    grid-column: 1 / 5;
    text-align: center;
    justify-content: center;
    margin: 1.5vh auto;
    width: 100%;
    animation: fadeSlideLeft 0.5s ease-in forwards; 
}

.friend-wrapper-text { 
    font-size: clamp(0.875rem, 2vw, 2rem); 
    font-weight: 700;
    font-style: oblique;
    letter-spacing: 0.125rem; 
}

.friend-container {
    height: fit-content;
    border-radius: 0.25rem; 
    overflow: hidden;
    transition: all 0.1s ease-in;
}
.friend-container:hover { box-shadow: 1px 2px 3px rgb(46, 46, 46); border-radius: 0; }

.friend { position: relative; flex-direction: column; justify-content: space-between; width: 100%; overflow: hidden; }

.friend-header-wrapper {
    position: relative;
    flex-direction: column;
    min-height: 20vh;
    width: 100%;
    border-radius: 0 0 0.75rem 0.75rem;
    border-bottom: 1px solid rgb(190, 190, 190);
    overflow: hidden;
}

.friend-bg {
    position: absolute;
    inset: 0 auto auto 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.friend-image {
    margin: 0 auto;
    padding: 2vh;
    position: absolute;
    inset: auto auto 0 0;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1vh;
    z-index: 2;
}

.friend-image > img { 
    padding: 0.25vh;
    object-fit: cover;
    height: 10vh;
    width: 10vh;
    box-shadow: 0 0 3px black;
    border-radius: 3rem;
    border: 3px solid white;
}

.friend-name { 
    font-size: clamp(0.875rem, 1.25vw, 1.25rem); 
    color: white;
}

.friend-header-overlay {
    position: absolute;
    inset: 0 auto auto 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 3px -30px 30px #1d1d1d;
    z-index: 1;
}

.friend-preview {
    position: absolute;
    inset: 0 auto auto 0;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    color: rgb(95, 95, 95);
    background: rgb(238, 238, 238);
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 0 3px;
    opacity: 0;
    transition: all 0.5s ease-in;
    z-index: 2;
}

.profile-view {
    position: relative;
    justify-content: center; 
    margin: 1vh 0 0 0; 
    column-gap: 0.25vw;
    text-align: center; 
    color: rgb(95, 95, 95);
    z-index: 2;
}

.profile-view:hover { color: transparent; }

.eye-icon {
    font-size: clamp(1.125rem, 1.5vw, 1.5rem); 
}

.profile-view > span { 
    font-weight: 500;
    font-size: clamp(0.625rem, 0.875vw, 0.875rem); 
}

.friend-preview.expand {
    opacity: 1;
}

.friend-bio { padding: 1vh 1vw; max-height: 100%; }
.friend-bio > span { font-size: clamp(0.75rem, 0.875vw, 0.875rem); font-weight: 500; }

.friend-buttons { position: relative; display: grid; grid-template-columns: 40% 40%; min-height: 5vh; }

.friend-buttons > button {  
    justify-content: center; 
    font-size: clamp(0.75rem, 1vw, 1rem); 
    color: rgb(22, 22, 22);
    background: transparent;
    border-radius: 3rem; 
}

.friend-buttons > button:hover {
    opacity: 0.7;
}

.modal-text { font-size: clamp(0.875rem, 1vw, 1rem); }
.modal-text > span { color: royalblue; font-weight: 700; font-size: clamp(0.875rem, 1.125vw, 1.125rem); }
.modal-btns { width: 100%; justify-content: space-between; }
.modal-btns > button { padding: 1.5vh 0; width: 48%; font-weight: 700; font-size: clamp(0.75rem, 1.125vw, 1.125rem); background: transparent; }
.modal-btns > button:hover { box-shadow: 0 0 3px black; }
.cancel-btn { color: grey; border: 1px solid; }
.submit-btn { color: red; border: 1px solid; }

.cancel-btn:hover { background: gray; color: black; }
.submit-btn:hover { background: red; color: gainsboro; border-color: darkred; }

@keyframes slideRight {
    0%  { opacity: 0; width: 0; }
    100% { opacity: 1; width: 75%; }
}

@media (max-width: 60rem) {
    .friend-wrapper { grid-template-columns: 30% 30% 30%; gap: 2vh; width: 95%; }
    .friend-wrapper-label { grid-column: 1 / 4; }
}

@media (max-width: 50rem) {
    .friend-page { padding: 2.5vh 0 10vh 0; }
    .friend-wrapper { grid-template-columns: 40% 40%; }
    .friend-wrapper-label { grid-column: 1 / 3; margin: 1.5vh auto; }
}

@media (max-width: 30rem) {
    .friend-header-wrapper { min-height: 15vh;  }
    .friend-wrapper { grid-template-columns: 97.5%; }
    .friend-wrapper-label { grid-column: 1 / 2; }
    .friend-wrapper-icon { display: none; }
    .friend-preview, .friend-container { border-radius: 0; }
    .friend-image > img { height: 8vh; width: 8vh; }
    .friend-bio { padding: 1vh 2vw; }
    .friend-buttons { grid-template-columns: 47.5% 47.5%; }
}
