.app-header { 
    position: sticky;
    inset: 0 auto auto 0;
    padding: 0 2vw;
    row-gap: 0;
    width: 100%;
    color: white;
    background: darkslategray;
    box-shadow: 0 1px 10px rgb(29, 49, 49);
    transition: 0.1s all ease-in;
    z-index: 4;
}

.app-logo {
    font-size: clamp(1.25rem, 1.75vw, 1.75rem);
    font-family: fantasy;
    font-weight: 500;
    letter-spacing: 1px;
    column-gap: 0.5vw;
}

.app-btn-icon { font-size: clamp(1.5rem, 2vw, 2rem); }

.header-btns { 
    padding: 2vh 0;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1vw;
    width: 100%;
}

.header-btns button { 
    padding: 1vh 2vw; 
    text-transform: uppercase;
    font-size: clamp(0.75rem, 1vw, 0.875rem); 
    font-weight: 500;
    color: grey;  
    border-radius: 2rem;
}

.header-btns button:not(.toggled):hover { color: black; background: rgb(236, 236, 236); }
.header-btn.toggled { color: white; background: darkslategray; box-shadow: 0 0 1px darkslategray; }

.header-banner { 
    position: relative; 
    flex-direction: column;
    justify-content: space-evenly; 
    height: 20vh;
    font-weight: bold;
    background-image: url("https://cdn.pixabay.com/photo/2020/05/18/16/17/social-media-5187243_1280.png");
    background-size: cover;
    background-position: center; 
    color: white; 
}
.header-banner-text { position: absolute; margin: auto; text-align: center; z-index: 1; }
.header-banner-text * { 
    font-size: clamp(0.875rem, 2vw, 2rem); 
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}
.header-banner-text span { font-weight: 500; color: gold; }
.header-banner .overlay { background: rgb(0, 0, 0, 0.4); }

@media (max-width: 50rem) {
    .header-banner { display: none; }
    .header-btns button { padding: 1vh 3vw; }
}
