.app-header { 
    position: fixed;
    inset: 0 auto auto 0;
    row-gap: 2vh;
    min-height: 8vh;
    width: 100%;
    background: transparent;
    box-shadow: 0 1px 3px rgb(0, 0, 66);
    z-index: 4;
    transition: 0.1s all ease-in;
}

.app-header.dynamic { background: royalblue; }

.header-btns { 
    justify-content: flex-end;
    flex-wrap: wrap;
    column-gap: 2.5vw;
    row-gap: 1vh;
    min-height: 8vh;
    width: 100%;
}

.header-btns button { font-size: clamp(0.75rem, 1.125vw, 1.125rem); color: white; }

.login-btn, .about-btn { background: transparent; }

.header-btns button:hover { opacity: 0.3; }

.start-btn { 
    margin-right: 5vw; 
    padding: 1.5vh 1.5vw; 
    background: transparent;  
    border: 1px solid;
    transition: all 0.3 ease-in;
}

.header-banner { 
    position: relative; 
    flex-direction: column;
    justify-content: space-evenly; 
    height: 20vh;
    font-weight: bold;
    background-image: url("https://cdn.pixabay.com/photo/2020/05/18/16/17/social-media-5187243_1280.png");
    background-size: cover;
    background-position: center; 
    color: rgb(245, 245, 245); 
}
.header-banner-text { position: absolute; margin: auto; text-align: center; z-index: 1; }
.header-banner-text * { 
    font-size: clamp(0.875rem, 2vw, 2rem); 
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}
.header-banner-text span { font-weight: 500; color: white; }

@media (max-width: 60rem) {
    .header-banner { display: none; }
}

@media (max-width: 25rem) {
    .app-header { padding-bottom: 0.5vh; }
    .header-btns { padding: 0; justify-content: space-around; }
    .start-btn { padding: 1vh 2.5vw; margin-right: 0; }
}