.menu { position: sticky; inset: 0 auto auto 0; grid-column: 1 / 3; align-items: flex-start; z-index: 4; }

.menu-bar { 
    padding: 1vh 1vw;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3vw;
    row-gap: 1vh;
    min-width: 100%;
    max-width: 250%;
    color: orangered; 
    background: white;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.menu-icon { display: none; font-size: clamp(1.25rem, 1.5vw, 1.5rem); transform: translateY(-12.5%); }

.menu-label-wrapper { margin-left: 2vw; gap: 1vh; }

.menu-li-icon { font-size: clamp(1.25rem, 2.125vw, 2.125rem); }
.menu-li-icon.community-icon { font-size: clamp(2rem, 3vw, 3rem); }

.menu-label-wrapper > span { margin-top: 2px; font-size: clamp(1rem, 1.825vw, 1.825rem); letter-spacing: 1px; font-weight: 700; }

.menu-li-search {
    margin-left: auto;
    display: none;
    padding: 1.375vh;
    background: rgb(255, 239, 208);
    border-radius: 0.5rem;
}
.menu-li-search * { color: orange; }
.menu-li-search:hover { opacity: 0.7; }

.menu-li-wrapper {
    margin: 0 auto;
    padding: 1vh 0.5vw;
    column-gap: 0.5vw;
    row-gap: 1vh;
    color: white;
    background: orangered;
    box-shadow: 0 0 1px gray;
    border-radius: 0.5rem;
}

.menu-li { padding: 1vh 1.5vw; color: white; transition: all 0.2s ease-in; border-radius: 0.25rem; }
.menu-li:hover { background: rgb(255, 121, 73); box-shadow: 0 0 2px; }
.menu-li.active { background: rgb(255, 121, 73); box-shadow: 0 0 2px; }
.menu-li > div { font-size: clamp(0.625rem, 0.875vw, 0.875rem); font-weight: 500; letter-spacing: 0.5px; }

.message-icon {
    padding: 1.375vh;
    color: orange;
    background: rgb(255, 239, 208);
    border-radius: 0.5rem;
}
.message-icon:hover { opacity: 0.7; }

.menu-dropdown { position: relative; padding: 0.25vw 0 0.25vw 0.25vw; column-gap: 1vw; }
.menu-dropdown img { height: 6.5vh; width: 6.5vh; object-fit: cover; border-radius: 4rem; }

.menu-user { 
    text-transform: capitalize; 
    font-size: clamp(0.75rem, 1.125vw, 1.125rem); 
    font-weight: 500; 
    color: tomato; 
}

.menu-links {
    display: none;
    position: absolute;
    inset: auto 0 0 auto;
    width: 100%;
    background: white;
    box-shadow: 0 1px 3px grey;
    transform: translateY(100%);
    z-index: 3;
}

.menu-link { justify-content: center; padding: 3vh 0; letter-spacing: 1px; color: gray; border: 2px solid transparent; }
.menu-link:hover { opacity: 0.4; }

.menu-link .person-icon, .logout .login-icon { 
    font-size: clamp(1.25rem, 1.75vw, 1.75rem); 
    width: fit-content; 
    margin: 0 0.5vw; 
    background: transparent;
}
.logout { color: red; }
.logout .login-icon {  margin: 0; font-size: clamp(1.75rem, 2.25vw, 2.25rem);   }
.menu-link > div { font-size: clamp(0.75rem, 1vw, 1rem); font-weight: 500; }
.menu-dropdown:hover > .menu-links, .menu-links:hover { display: flex; flex-direction: column; }


@media (max-width: 50rem) {
    .menu-bar { column-gap: 2vw; justify-content: flex-end; }
    .menu-icon { display: block; margin: 7px 2.5vw 0 2.5vw;  }
    .menu-side-wrapper.show { width: 45vw; }
    .menu-li-search { display: flex; }
    .menu-li-wrapper {
        margin: 0;
        margin-top: auto;
        display: none;
        position: absolute;
        inset: auto auto 0 0;
        justify-content: center;
        gap: 1vh;
        width: 100%;
        border-radius: 0;
    }
    .menu-li-wrapper.show { display: flex; transform: translateY(100%); padding: 2.5vh 1vw;  border-radius: 0 0 1rem 1rem; }
    .menu-li { padding: 1vh 4vw; }
    .menu-li-wrapper { flex-wrap: wrap; } 
    .menu-dropdown img { height: 6vh; width: 6vh; }
}

@media (max-width: 40rem) {
    .menu-bar { row-gap: 0.5vh; }
    .menu-side-wrapper.show { width: 65vw; }
    .menu-links { inset: auto 0 0 auto; width: 100%; border-radius: 0.25rem; }
    .menu-link .person-icon, .logout .login-icon { margin: 0 1vw; }
}

@media (max-width: 25rem) {
    .menu-side-wrapper.show { width: 80vw !important; }
    .menu-label-wrapper { display: none; }
    .menu-li { padding: 1vh 2vw; }
    .menu-li-search, .message-icon { padding: 1vh; }
    .menu-user { padding-right: 2vw; }
    .menu-dropdown img { height: 5vh; width: 5vh; } 
}