.menu-bar { 
    padding: 2vh 1vw;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 3vw;
    row-gap: 1vh;
    width: 100%;
    height: fit-content;
    background: rgb(247, 247, 247);
    box-shadow: 1px 1px 3px grey;
}

.menu-label-wrapper {
    justify-content: center;
    gap: 1vh;
    color: rgb(99, 99, 99);
}

.menu-li-icon { font-size: clamp(1.75rem, 2.25vw, 2rem); }
.menu-li-icon.community-icon { font-size: clamp(2.75rem, 3.25vw, 3.25rem); }

.menu-label-wrapper > span {
    font-size: 1.75rem;
}

.menu-li-wrapper {
    padding: 1vh 0.5vw;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3vh;
    background: rgb(230, 230, 230);
    border-radius: 0.5rem;
}

.menu-li { 
    padding: 1vh 1.5vw;
    height: 100%; 
    color: rgb(77, 77, 77); 
    border-bottom: 2px solid transparent; 
    border-radius: 0.5rem;
    transition: all 0.2s ease-in; 
}
.menu-li:hover { background: rgb(199, 199, 199); box-shadow: 0 0 2px; }
.menu-li.active { background: rgb(199, 199, 199); box-shadow: 0 0 2px; }
.menu-li > div { 
    font-size: clamp(0.75rem, 5vw, 0.875rem); 
    font-weight: bold; 
    letter-spacing: 0.5px;
}

.message-icon {
    padding: 1.375vh;
    background: rgb(224, 224, 224);
    border: 1px solid rgb(206, 206, 206);
    box-shadow: 0 0 2px gray;
    border-radius: 3rem;
}

.message-icon:hover { opacity: 0.7; }

.menu-dropdown { 
    position: relative; 
    padding: 0.25vw 0 0.25vw 0.25vw;
    height: 100%; 
}
.menu-dropdown img {
    height: 7vh; 
    width: 7vh; 
    object-fit: cover;
    border-radius: 4rem;
}

.menu-user { 
    padding-right: 1rem;
    font-weight: 500;
    color: rgb(77, 77, 77);
}

.menu-links {
    display: none;
    position: absolute;
    inset: auto 0 0 auto;
    width: 125%;
    background: rgb(247, 247, 247);
    border: 1px solid grey;
    border-top: 0;
    transform: translateY(100%);
    z-index: 3;
}

.menu-link {
    justify-content: center;
    margin: auto;
    padding: 4vh 0;
    font-family: 'Roboto', sans-serif; 
    height: 100%;
    width: 100%;
    border: 2px solid transparent;
}

.menu-link:hover { opacity: 0.7; }

.menu-link * { color: gray; margin: 0; }
.person-icon { font-size: clamp(1.25rem, 1.75vw, 1.75rem); width: fit-content; margin: 0 0.5vw; }
.logout-icon { font-size: clamp(1.5rem, 2.5vw, 2rem); width: fit-content; }
.menu-link > div { font-size: clamp(0.75rem, 2.5vw, 0.875rem); font-weight: 500; }
.menu-dropdown:hover > .menu-links, .menu-links:hover { display: flex; flex-direction: column; }

@media (max-width: 60rem) {
    .menu-bar { border: 1px solid grey; border-top: 0; }
}

@media (max-width: 75rem) {
    .menu-li-wrapper { padding: 1vh 1vw; gap: 1vh; justify-content: space-evenly; }
}

@media (max-width: 50rem) {
    .menu-bar { padding: 1vh 5vw; }
    .menu-label-wrapper { display: none; }
    .menu-dropdown { margin: 0 0 0 auto; }
}

@media (max-width: 40rem) {
    .menu-bar { justify-content: center; }
    .menu-links { inset: auto -10% 0 auto; width: 150%; }
    .person-icon { margin: 0 1vw; }
}