.message-container { 
    flex-direction: column;
    margin: 3vh 0 0 0;
    padding-bottom: 2vh;
    width: 100%;
    color: rgb(68, 68, 68);
    background: rgb(251, 251, 255);
    box-shadow: 0 1px 3px gray;
    border-radius: 0.75rem;
    overflow: hidden;
}

.private-message-header { padding: 0 1vw; width: 100%; box-shadow: 0 1px 2px gray; background: navy; }
.private-message-header > div { padding: 1vh 0; row-gap: 1vh; width: 100%; }
.private-message-header > div > span { 
    flex-wrap: wrap;
    font-weight: 500;
    color: white;
}
.private-message-header > div > span > span { margin: 0 0.5vw; font-size: clamp(0.75rem, 1.25vw, 1.25rem); }

#back-btn { margin: 0 1.5vw; color: white; background: transparent; }
#back-btn * { font-size: clamp(1.75rem, 2.5vw, 2.5rem); }

#back-btn:hover { opacity: 0.7; }

.private-message-header img { 
    margin: 0 1vw;
    height: 10vh; 
    width: 10vh; 
    object-fit: cover; 
    border-radius: 3.25rem; 
    box-shadow: 0 0 2px black;
}

.private-message { 
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2vh;
    margin: 3vh 0 7.5vh 5%;
    height: 65vh; 
    width: 90%; 
    background: rgb(251, 251, 255);
    scroll-behavior: smooth; 
    overflow-y: auto; 
}
.private-message::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.private-message-empty { 
    flex-direction: column;
    margin-top: 25%;
    row-gap: 1vh;
    text-align: center; 
    font-weight: 500; 
    color: gray; 
}
.private-message-empty > span { font-size: clamp(1rem, 1.5vw, 1.5rem); }
.private-message-empty > .cat-icon { font-size: clamp(1.75rem, 2.5vw, 2.5rem); }

.end-message {
    grid-template-columns: 35% auto 35%;
    justify-content: space-between;
    width: 100%;
}
.end-message > hr { height: 1px; width: 100%; background: rgb(212, 212, 212); border: 0; }

.end-message > span {
    text-align: center;
    font-size: clamp(0.625rem, 1vw, 1rem);
    font-weight: 500;
    color: rgb(180, 180, 180);
}

.text { align-items: flex-start; column-gap: 0.5vw; width: 100%; }

.text-format {
    position: relative;
    margin: 1vh auto 3vh 0;
    flex-direction: column;
    font-weight: bold;
    align-items: unset;
    width: 65%;
    color: rgb(143, 143, 143);
}

.text-format.image { object-fit: cover; max-width: 60%; }

.texter { height: 7vh; width: 7vh; object-fit: cover; border-radius: 3rem; border: 1px solid rgb(44, 44, 44); }
.text-image { max-height: 35vh; object-fit: cover; border-radius: 0.5rem; }

.text-content { 
    padding: 1vh 1vw 3vh 1vw; 
    font-size: clamp(0.75rem, 1vw, 1rem); 
    word-wrap: break-word;
    min-height: 15vh; 
    color: rgb(80, 80, 80);
    background: white;
    box-shadow: 0 1px 3px grey;
    border-radius: 0.25rem;
}

.time-format { justify-content: center; position: absolute; inset: auto 1.5% 0 auto; transform: translateY(100%); }
.time-format > span { font-style: oblique; font-size: clamp(0.625rem, 0.875vw, 0.875rem); }
.check-icon { margin-left: 0.25vw; transform: translateY(25%); font-size: clamp(1.25rem, 1.75vw, 1.75rem); }

.text-input-wrapper { padding: 0 2vw; min-height: 5vh; width: 100%; }
.text-input { column-gap: 1vw; height: 100%; width: 100%; background: white; border-bottom: 1px solid rgb(170, 170, 170); }
.text-input > input { height: 100%; width: 75%; text-indent: 0.5vw; color: black; }

.camera-wrapper { position: relative; margin-left: auto; justify-content: flex-end; width: 10%; }
.camera-icon { font-size: clamp(1.5rem, 1.75vw, 1.75rem); color: rgb(68, 68, 68); }
.camera-wrapper > img { 
    position: absolute;
    top: 0;
    transform: translate3d(30%, -125%, 0);
    max-height: 20vh; 
    max-width: 20vh;
    object-fit: cover;
    border-radius: 0.5rem; 
    opacity: 0.5;
}
.camera-wrapper > input { display: none; }

.send-button {
    justify-content: center;
    padding: auto 10vw;
    margin-right: 0.25vw;
    font-size: clamp(1.75rem, 2vw, 2rem);
    height: 90%;
    width: 10%;
}

.send-button:hover { opacity: 0.7; }

.send-button > .send-icon { font-size: clamp(1.5rem, 1.75vw, 1.75rem); color: rgb(68, 68, 68); }

@media (max-width: 40rem) { 
    .message-container { display: none; }
    .message-container.focus { display: unset; }
    .private-message-header img { height: 8vh; width: 8vh; }
    .private-message { height: 50vh; }
    .end-message > span { font-weight: 300; }
}

@media (max-width: 25rem) {
    .recipient { margin: 1vh 0; }
    .private-message { margin: 3vh 1vw 7.5vh 1vw; }
    .text-format { width: 100%; }
    .texter { height: 5.5vh; width: 5.5vh; }
    .text-content { margin-right: 0.5vw; padding: 1.5vh 1vw 3vh 2vw; } 
}