
.message-container { 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2.5vh 0;
    padding-bottom: 2rem;
    width: 100%;
    color: gainsboro;
    background: rgb(44, 44, 44);
    border-radius: 0.5rem;
    box-shadow: 0 0 3px black;
    overflow: hidden;
}

.private-message-header { width: 100%; background: rgb(20, 20, 20); }
.private-message-header > div { flex-wrap: wrap; row-gap: 1vh; width: 100%; }
.private-message-header > div > span { 
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1vh; 
    letter-spacing: 0.0625rem;
}
#back-btn { margin: 0 5vw 0 1.5vw; background: gray; border-radius: 0.125rem; }
#back-btn * { font-size: clamp(1.75rem, 2.5vw, 2.5rem); }

.private-message-header img { 
    margin: 0 0.75rem 0 1rem;
    min-height: 10vh; 
    width: 10vh; 
    object-fit: cover; 
    border-radius: 3.25rem; 
    box-shadow: 0 0 3px black;
}
.private-message { 
    margin: 1rem 0 5rem 10%;
    height: 65vh; 
    width: 80%; 
    scroll-behavior: smooth; 
    overflow-y: auto; 
}
.private-message::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.private-message > h1 { text-align: center; font-weight: 700; font-size: clamp(1rem, 1.5vw, 1.5rem); color: gray; }

.text { align-items: flex-start; column-gap: 0.5vw; }

.text-format {
    margin: 2vh auto 3vh 0;
    position: relative;
    flex-direction: column;
    font-weight: bold;
    align-items: unset;
    width: 65%;
    color: rgb(143, 143, 143);
}

.text-format.image { object-fit: cover; max-width: 80%;}

.texter { height: 7vh; width: 7vh; object-fit: cover; border-radius: 3rem; border: 1px solid rgb(44, 44, 44); }
.text-image { border-radius: 0.5rem; }

.text-content { 
    padding: 1.5vh 1vw 3vh 1vw; 
    font-size: clamp(0.75rem, 2.5vw, 0.875rem); 
    font-weight: 500; 
    word-wrap: break-word;
    min-height: 15vh; 
    background: rgb(48, 48, 48);
    border: 1px solid rgb(31, 31, 31);
    border-radius: 0.5rem;
}

.text-made-by { 
    margin: 0 0 0.5vh 0.5vw;
    font-size: clamp(0.75rem, 2.5vw, 0.875rem);
    letter-spacing: 0.5px;
    font-weight: 700;
    color: rgb(179, 179, 179);
    text-transform: uppercase;
}

.text-input-wrapper { justify-content: center; gap: 1vw; width: 100%; }
.text-input { padding-right: 3vw; position: relative; height: 100%; width: 70%; background: rgb(61, 61, 61); border-radius: 0.75rem; }
.text-input > input { 
    height: 100%; 
    width: 100%; 
    text-indent: 1.5vw;
    color: rgb(168, 168, 168); 
    background: rgb(61, 61, 61);
    border-radius: 0.75rem;
}
.camera-wrapper { position: absolute; top: 10%; right: max(2rem, 9%); }
.camera-icon { position: absolute; font-size: clamp(1.625rem, 2.5vw, 1.75rem); color: rgb(20, 20, 20); }
.camera-wrapper > img { 
    display: absolute;
    top: 0;
    transform: translate3d(30%, -125%, 0);
    max-height: 20rem; 
    max-width: 20rem; 
    border-radius: 0.25rem; 
    opacity: 0.5;
}
.camera-wrapper > input { display: none; }
.text-input-wrapper > button { 
    padding: 1vh 2vw;
    letter-spacing: 0.05rem; 
    font-weight: bold; 
    font-family: 'Lobster', cursive;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    background: gold; 
    border-radius: 3rem; 
    box-shadow: 0 0 3px; 
}

@media (max-width: 50rem) { 
    .message-container { margin: 0 0 5vh 0; }
    .private-message-header { min-height: 7.5vh; }
    .private-message { height: 60vh; }
    .text-input-wrapper {  flex-direction: column; }
    .text-input-wrapper > button { margin: 2.5vh 15% 0 auto; padding: 1.5vh 5vw; height: fit-content; width: fit-content; }
}

@media (max-width: 25rem) {
    .text-format { width: 80%; }
    .text-input { width: 95%; }
    .text-input-wrapper > button { margin: 2.5vh 5% 0 auto; }
}