
.message-container { 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 3rem 0;
    padding-bottom: 2rem;
    min-height: 40rem;
    width: 100%;
    color: white;
    background: rgb(58, 58, 58);
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
}

.private-message-header {
    padding: 0.5rem 0;
    width: 100%;
    border-bottom: 1px solid rgb(207, 207, 207);
    box-shadow: 0 0 5px grey;
}
.private-message-header span { 
    font-size: clamp(1rem, 2.5vw, 1.25rem); 
    font-weight: bold;
    font-family: 'Lobster', cursive; 
    letter-spacing: 0.0625rem;
    margin: 0 10px; 
}
.back-btn { margin-left: 0.75rem; background: gold; border-radius: 0.125rem; }
.back-btn * { font-size: clamp(1.75rem, 2.5vw, 2.5rem); }

.private-message-header img { 
    margin: 0 0.75rem 0 1rem;
    min-height: 4rem; 
    width: 4rem; 
    object-fit: cover; 
    border-radius: 3.25rem; 
    box-shadow: 0 0 3px black;
}
.private-message { 
    margin: 4rem 0 4rem 10%; 
    height: 30rem; width: 80%; 
    scroll-behavior: smooth; 
    overflow-y: auto; 
}
.private-message::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.private-message > h1 { text-align: center; font-weight: 700; font-size: clamp(1rem, 1.5vw, 1.5rem); color: gold; }

.text-format {
    position: relative;
    margin: 3vh auto 3vh 1vw;
    flex-direction: column;
    font-weight: bold;
    align-items: unset;
    min-height: 7rem;
    max-height: fit-content;
    max-width: fit-content;
    background: gray;
    box-shadow: 0 0 3px black;
    border-radius: 0.75rem;
}
.image { max-width: 75% !important; }
.text-image { display: none; max-height: 21rem; border-radius: 0.75rem; }
.text-content { display: none; padding: 1.5vh 1vw; font-size: clamp(0.75rem, 2.5vw, 0.875rem); margin: 8px 0 0 8px; word-wrap: break-word; }
.text-made-by { 
    position: absolute;
    inset: auto 0 0 auto;
    font-size: clamp(0.75rem, 2.5vw, 0.875rem);
    letter-spacing: 0.5px;
    font-weight: 700; 
    margin: auto 1vw 0 0 !important;  
    color: rgb(31, 31, 31);
    z-index: 1;
}

.text-input-wrapper { justify-content: center; align-items: center; gap: 1rem; height: 4rem; width: 100%; }
.text-input { position: relative; height: 100%; width: 70%; }
.text-input > input { 
    height: 100%; 
    width: 100%; 
    text-indent: 1rem;
    color: white;
    background: rgb(80, 80, 80); 
    outline-color: gold; 
    border-radius: 2rem;
}
.camera-wrapper { position: absolute; inset: 25% 3rem auto auto }
.camera-icon { 
    position: absolute; 
    font-size: clamp(1.625rem, 2.5vw, 1.75rem);
    color: black;
}
.camera-wrapper > img { 
    display: absolute;
    top: 0;
    transform: translate3d(30%, -125%, 0);
    max-height: 20rem; 
    max-width: 20rem; 
    border-radius: 0.25rem; 
    opacity: 0.5;
}
.camera-wrapper > input { display: none; }
.text-input-wrapper > button { letter-spacing: 0.05rem; font-weight: bold; height: 80%; width: 15%; background: gold; border-radius: 3rem; }

@media (max-width: 50rem) { 
    .text-image { max-height: 10rem; }
    .message-container { display: none; }
    .message-container.open { display: flex !important; }
}