#App-header { 
    position: fixed;
    display: flex; 
    height: 60px; 
    width: 100%; 
    background: white;
    border-bottom: 1px solid rgb(241, 241, 241); 
    z-index: 3;
}

#App-header h1 { display: flex; justify-content: center; margin: 0 auto 0 10px; font-family: 'Courgette', cursive; font-size: 30px; width: 30%; color: black; }
#header-btns { display: flex; justify-content: flex-end; height: 100%; }

#App-header button { 
    font-family: 'Roboto', sans-serif; 
    padding: 8px 0; 
    width: 100px; 
    background: white;
    border-radius: 50px;
    box-shadow: none;
}

#App-header button:hover { box-shadow: 0 0 5px black; }
#about-btn { margin-right: 75px; }
#about-btn:hover { color: white; background: teal; }
#login-btn:hover { color: limegreen; border: 2px solid limegreen; }

#header-alt {  
    position: relative;
    margin-bottom: 20px;
    height: 150px;
}

#header-img {  
    height: 100%;
    width: 100%;
    background: url("https://images.pexels.com/photos/3737713/pexels-photo-3737713.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}

#header-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: black;
    opacity: 0.4;
}

#header-alt > h1 { 
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: 20%;
    left: 0;
    right: 0;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    text-shadow: 0 0 5px black;
    color: aqua;
    z-index: 1;
    opacity: 1;
}
#header-alt > h1 > span { font-size: 50px; font-family: 'Lobster', cursive; color: white; }

#side-panel { 
    vertical-align: top;
    display: inline-flex;
    flex-direction: column;
    margin: 0 5% 0 40px;
    height: 525px;
    width: 18%;
    background: white;
    box-shadow: 0 0 3px grey;
    border-radius: 3px;
    z-index: 3;
}

#side-logo { 
    display: flex;
    justify-content: center;
    height: 50px; 
    width: 100%; 
    color: white; 
    background: teal;
    box-shadow: 0 0 2px black;
}

#side-logo > h1 { font-size: 18px; }
.side-li { padding-left: 20px; display: flex; justify-content: flex-start; width: 80%; color: black; margin: 30px 0 0 10%; }
.side-li:not(#logout):hover { padding: 5px; color: teal; border: 2px solid teal; }
#side-icon { margin-left: 7px; font-size: 24px; }
#logout { color: darkred; margin-top: auto; cursor: pointer; }
#side-user { 
    display: flex; 
    margin-top: 35px; 
    padding: 5px 0; 
    width: 100%; 
    background: darkslategrey; 
    box-shadow: 0 0 4px black;
}
#side-user img { margin-left: 5px; height: 45px; width: 45px; border-radius: 10px; box-shadow: 0 0 5px; }
#side-user h1 { margin: auto; color: rgb(18, 189, 189); }

@media (max-width: 700px) {
    #App-header h1 { display: flex; margin: 0; font-size: 20px; }
    #login-btn, #about-btn { font-size: 14px; height: 35px; width: 50px; }
    #about-btn { margin-right: 0; }
    #side-panel { margin: 0 3.5% 0 20px; }
    #side-logo { font-size: 16px; }
    .side-li { padding-left: 5px; margin: 30px 0 0 20%; }
    #side-logo > h1 { display: none; }
    .side-li > h1, #side-user > h1 { display: none; } 
    #side-user > img { margin: auto; }
}