.app-header { 
    row-gap: 2vh;
    height: fit-content;
    width: 100%; 
    color: cyan;
}

.header-btns { 
    justify-content: flex-end;
    flex-wrap: wrap;
    column-gap: 2.5vw;
    font-family: 'Roboto', sans-serif; 
    min-height: 10vh;
    width: 100%;
}

.header-btns button { font-size: clamp(0.75rem, 1.5vw, 1rem); }

.login-btn, .about-btn { color: white; background: transparent; }

.header-btns button:not(.start-btn):hover { color: cyan; text-decoration: underline; }

.start-btn { 
    margin-right: 5vw; 
    padding: 2.5vh 1.5vw; 
    background: white; 
    border-radius: 2rem; 
    border: 2px solid;
    box-shadow: 0 0 2px gray; 
    transition: all 0.3 ease-in;
}
.start-btn:hover { 
    color: green;
    border: 2px solid lightgreen;
}

.header-alt { 
    position: relative; 
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 1rem; 
    height: 15rem;
    font-weight: bold;
    background: url("https://images.pexels.com/photos/219998/pexels-photo-219998.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center; 
    color: bisque; 
}
.header-alt-text { position: absolute; margin: auto; text-align: center; z-index: 1; }
.header-alt-text * { 
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: clamp(1.125rem, 2.5vw, 1.375rem); 
    letter-spacing: 0.125rem;
}
.header-alt-text span { font-size: clamp(1.5rem, 2.5vw, 1.75rem); color: orange; }

.side-panel { 
    margin-bottom: auto;
    justify-content: space-around;
    width: 100%;
    background: white;
    box-shadow: 0 0 3px grey;
    border-radius: 3px;
    z-index: 3;
}

.side-logo { 
    margin: 0 auto 0 0.375rem;
    padding: 0.5rem 0.75rem; 
    color: white; 
    background: #5518ab;
    box-shadow: 0 0 2px black;
}

.side-li { margin: auto; padding: 0 1.25rem; font-weight: bold; color: black; transition: all 0.2s ease-in; }
.side-li:hover { color: #5518ab; border: 2px solid #5518ab; }
.side-li.active { color: #5518ab; border-left: 3px solid #5518ab; pointer-events: none; }
.side-li > div { font-size: clamp(0.25rem, 5vw, 0.875rem); margin: 0.375rem 0; }
.side-icon { font-size: clamp(1.375rem, 2.5vw, 1.5rem); margin-left: 0.375rem; }

.logout { color: firebrick; cursor: pointer; }

.side-user { position: relative; margin: 0 0.5rem 0 auto; padding: 0.25rem 1rem; background: #5518ab; box-shadow: 0 0 4px black; }
.side-user img { 
    margin-right: 0.5rem; 
    height: 3rem; 
    width: 3rem; 
    border-radius: 10px; 
    box-shadow: 0 0 5px; 
}

.side-user > div { 
    padding-left: 0.25rem;
    font-size: clamp(0.75rem, 2.5vw, 1rem); 
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.05rem;
    color: rgb(55, 243, 243); 
}
.drop-li {
    display: none;
    position: absolute;
    inset: auto 0 0 auto;
    font-family: 'Roboto', sans-serif; 
    padding: 0.5rem 0;
    width: 100%;
    transform: translateY(100%);
    text-align: center;
    background: white;
    border: 2px solid rgb(223, 223, 223);
    border-top: 0;
}
.person-icon { font-size: clamp(1rem, 2.5vw, 1.5rem); }
.drop-li > div { font-size: clamp(0.75rem, 2.5vw, 0.875rem); }
.side-user:hover .drop-li { display: block; color: #5518ab; }
.drop-li:hover { color: white !important; background: #5518ab; }

@media (max-width: 50rem) {
    .side-li { padding-left: 0; }
    .side-logo > h1 { display: none; }
    .side-li > div, .side-user > div { display: none; } 
    .side-user > img { margin: auto; }
}

@media (max-width: 25rem) {
    .header-btns { padding: 2vh 0; justify-content: space-around; }
    .start-btn { padding: 1vh 2.5vw; margin-right: 0; }
}