.photo-wrapper { position: relative; display: block; width: fit-content; color: royalblue; }
.photo-wrapper > img { 
    position: relative;
    object-fit: cover; 
    height: 100%; 
    width: 100%; 
    box-shadow: 1px 1px 3px black; 
    transition: 0.2s all ease-in;
}
.photo-wrapper > img:hover { transform: scale(1.05); box-shadow: 3px 3px 5px black;  z-index: 1; }

.close-button { margin: 0 0 2vh auto; font-size: clamp(1.5rem, 2vw, 2rem); color: gray; }
.close-button:hover { opacity: 0.7; }

.zoom-photo { object-fit: cover; max-height: 50vh; width: 100%; }

.set-button { margin-top: 3vh; padding: 2vh 0; width: 100%; color: rgb(139, 139, 139); background: rgb(240, 240, 240); border: 1px solid; }
.set-button:hover { opacity: 0.7; }
