.post-section {
    padding-top: 2.5vh;
    flex-direction: column;
    row-gap: 2vh;
    height: 100%;
    width: 100%;
}

.post-form { 
    padding: 1vh 2.5vw;
    align-items: flex-start; 
    flex-direction: column; 
    width: 90%;
    box-shadow: 0 1px 3px gray;
    background: white;
}
.post-form > h1 { margin: 1vh 0 3vh 0; font-weight: 500; font-size: clamp(0.875rem, 2vw, 1.25rem); color: royalblue; }

.post-input { flex-wrap: wrap; padding-bottom: 3vh; column-gap: 1vw; width: 100%; }
.post-input > input { width: 70%; color: royalblue;  border-bottom: 1px solid; }
.post-input > input::placeholder { color: royalblue; }

.post-image {
    margin-left: 3vh;
    padding: 1vh 1.5vw;  
    background: transparent;
    font-size: clamp(0.625rem, 0.875vw, 0.875rem); 
    color: gray;
    border: 1px solid; 
    border-radius: 2rem;
    pointer-events: none;
    opacity: 0.3;
}

.submit { 
    justify-content: center;
    margin: 0 0 0 auto;
    padding: 1vh 1vw;  
    column-gap: 0.5vw;
    color: royalblue;
    background: white;
    border: 1px solid;
    border-radius: 3rem; 
}
.submit > span { font-size: clamp(0.75rem, 1vw, 1rem); }
.submit:hover { color: white; background: royalblue; }

.post-image:hover { opacity: 0.7; }

.post-collection {
    flex-direction: column;
    row-gap: 2vh;
    width: 90%;
    background: white;
}

@media (max-width: 60rem) {
    .post-form { width: 97.5%; }
    .post-form > h1 { margin: 1vh auto 3vh auto; }
    .post-input { padding-bottom: 0.5vh; }
    .post-collection { width: 97.5%; }
}

@media (max-width: 50rem) {
    .post-collection { width: 97.5%; }
    .post-input > input { margin-bottom: 2vh; width: 100%; }
    .post-image { margin-left: 0; }
    .submit { padding: 1vh 5vw; }  
}