.post {
    margin: 0 auto;
    padding: 2vh 0 0 0;
    flex-direction: column;
    width: 100%;
    color: gray;
    background: white;
    border-radius: 0.5rem;
}

.post-header { padding: 0 2vw; margin-bottom: 1vh; flex-wrap: wrap; column-gap: 0.75vw; width: 100%; }
.poster-image { object-fit: cover; height: 7vh; width: 7vh; border-radius: 3rem; }
.poster-name { font-weight: 500; font-size: clamp(0.75rem, 1vw, 1rem); }
.post-time {
    margin-left: auto;
    font-size: clamp(0.625rem, 0.875vw, 0.875rem);
    color: rgb(165, 165, 165);
}
.primary-text { align-self: flex-start; padding: 2vh 2.5vw 4vh 2.5vw; font-size: clamp(0.75rem, 1vw, 1rem); }

.primary-image-wrapper { margin: 1vh auto 0 auto; position: relative; width: 95%; }
.primary-image { object-fit: cover; max-height: 50vh; width: 100%; border-radius: 0.25rem; }
.image-zoom-icon-wrapper {
    padding: 2vh;
    position: absolute;
    inset: 5% 2.5% auto auto;
    color: white;
    background: rgba(56, 56, 56, 0.7);
    border-radius: 2rem;
    box-shadow: 0 0 1px;
}
.image-zoom-icon-wrapper:hover { opacity: 0.7; }
.image-zoom-icon { font-size: clamp(0.875rem, 1vw, 1rem); }
.primary-image-zoom { height: 100%; width: 100%; overflow-x: hidden;  }
.primary-image-zoom > img { object-fit: cover; width: 100%; }
.primary-image-zoom > button { 
    padding: 1vh 1vw;
    position: absolute; 
    inset: 5% 5% auto auto; 
    font-size: clamp(0.875rem, 1vw, 1rem); 
    color: white;
    background: orange; 
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgb(110, 110, 110);
}
.primary-image-zoom > button:hover { opacity: 0.7; }

.delete-wrapper { 
    padding: 1vh 2vw;
    column-gap: 1vw; 
    align-self: flex-end; 
    color: grey; 
    border: 2px solid transparent; 
    border-radius: 2rem;
}
.delete-wrapper:hover { border-color: red; }
.delete-wrapper:hover * { color: red; }
.delete-wrapper:hover .delete-message { opacity: 1; }
.delete-message { font-size: clamp(0.75rem, 1vw, 1rem); white-space: nowrap; opacity: 0; transition: 0.1s all ease-in; }
.trash-button { font-size: clamp(1.25rem, 1.5vw, 1.5rem); color: rgb(180, 180, 180); transition: 0.1s all ease-in; }

.post-footer {
    padding: 2.5vh 3vw;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 12.5vw;
    row-gap: 2vh;
    width: 100%;
}

.action { column-gap: 0.5vw; }
.action:hover { opacity: 0.7; }
.action > span { font-size: clamp(0.75rem, 1vw, 1rem); }

.post-like.active { color: red; }
.post-like.active > .like-count { color: white; background: red; }

.post-icon { font-size: clamp(1rem, 1.25vw, 1.25rem); }

.like-count, .comment-count {
    justify-content: center;
    padding: 0.25vh 1vw;
    font-weight: 500;
    font-size: clamp(0.625rem, 0.875vw, 0.875rem);
    border-radius: 0.25rem;
    border: 1px solid;
    box-shadow: 0 1px 1px rgb(180, 180, 180);
}
.comment-count { color: gray; }

@media (max-width: 25rem) {
    .image-zoom-icon-wrapper { padding: 1.125vh; }
    .post { padding: 1.5vh 0 0 0; }
    .poster-image { height: 5.5vh; width: 5.5vh;  }
    .post-header { column-gap: 2vw; }
    .delete-wrapper { margin: 0.5vh 1vw; padding: 0.5vh 2vw; }
    .action { column-gap: 1vw; }
    .action > span { display: none; }
    .like-count, .comment-count { padding: 0 3vw; }
    .post-footer { margin-top: 0.5vh; justify-content: flex-start; }
    .trash-button { font-size: 1rem; }
}

@media (max-width: 15rem) {
    .post-time { margin: 1vh auto 0 2vw; }
}