.post {
    margin: 2.5vh auto;
    padding: 3vh 0 5vh 0;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 0.5rem;
}

.post-image-input { display: none; }
.post-image-input-preview {
    margin-top: 2vh;
    height: 10vh;
    width: 10vh; 
    object-fit: cover;
    opacity: 0.4;
    border: 2px dotted grey;
    border-radius: 1rem;
}

.post-header { padding: 0 2.5vw; margin-bottom: 2vh; column-gap: 0.75vw; width: 100%; }
.poster-image { object-fit: cover; height: 9vh; width: 9vh; border-radius: 3rem; }
.poster-name { font-weight: 500; color: rgb(107, 107, 107); }

.primary-text { align-self: flex-start; padding: 0 3vw; font-size: clamp(0.875rem, 1.125vw, 1.125rem); color: rgb(58, 58, 58); }
.primary-image { margin: 3vh auto 0 auto; object-fit: cover; height: 50vh; width: 100%; }

.delete-wrapper { 
    margin: 3vh 1vw 2vh 1vw; 
    padding: 1vh 2vw;
    column-gap: 1.5vw; 
    align-self: flex-end; 
    color: grey; 
    border: 2px solid transparent; 
    border-radius: 2rem;
}
.delete-wrapper:hover { color: red; border-color: red; }
.delete-wrapper:hover .delete-message { opacity: 1; }
.delete-message { white-space: nowrap; opacity: 0; transition: 0.1s all ease-in; }
.trash-button { font-size: 1.25rem; }
.trash-button:hover { opacity: 0.7; }

.post-footer {
    padding: 2.5vh 3vw;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 12.5vw;
    row-gap: 2vh;
    width: 100%;
    border: 1px solid rgb(201, 201, 201);
    border-left: 0;
    border-right: 0;
}

.post-footer > div {
    column-gap: 0.75vw;
    color: rgb(102, 102, 102);
}

.post-footer > div:hover { opacity: 0.7; }

.post-footer > div > span { font-size: clamp(0.875rem, 1.125vw, 1.125rem); }

.post-like.active {
    color: royalblue;
}

.post-like.active > .like-count {
    color: rgb(231, 231, 231);    
    background: royalblue;
}

.post-icon {
    font-size: clamp(1rem, 1.25vw, 1.25rem);
}

.like-count, .comment-count {
    justify-content: center;
    padding: 0 1.5vw;
    font-weight: 500;
    background: rgb(194, 194, 194);
    border-radius: 1rem;
    box-shadow: 0 0 1px;
}

@media (max-width: 60rem) {
    .post-footer > div { column-gap: 2vw; }
}

@media (max-width: 25rem) {
    .post-header { column-gap: 2vw; }
    .post-footer { justify-content: flex-start; }
    .like-count, .comment-count { padding: 0 3vw; }
}