.profile { 
    flex-wrap: wrap;
    row-gap: 1vh;
    width: 100%;
    color: darkslategray;
    background: white;
    overflow: hidden;
}
.profile-banner {
    flex-direction: column;
    row-gap: 2vh;
    width: 100%;
}

.profile-top { position: relative; flex-direction: column; row-gap: 2vh; min-height: 20vh; width: 100%; }

.profile-background { position: absolute; inset: 0 auto auto 0; height: 100%; width: 100%; object-fit: cover; }

.profile-bottom {
    padding: 0 5%;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 10vw;
    min-height: 20vh; 
    width: 100%;
}

.profile-label { padding-top: 5%; row-gap: 2.5vh; flex-direction: column; align-items: flex-start; }

.profile-image {
    position: absolute;
    inset: 0 auto auto 5%;
    padding: 0.5vh;
    height: 20vh;
    width: 20vh;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 10rem;
    box-shadow: 0 0 3px;
    transform: translateY(-75%);
    z-index: 1;
}

.profile-name { 
    font-size: clamp(1.25rem, 1.75vw, 1.75rem);
    font-weight: 700;
}

.profile-bio { flex-direction: column; justify-content: center; flex-wrap: wrap; width: 60%; overflow: hidden; }

.bio-body { flex-direction: column; font-weight: 500; }

.bio-content, .bio-content > span { 
    font-size: clamp(0.75rem, 1vw, 1rem);
    height: 100%;
    width: 100%;
}

.bio-content > span { color: rgb(185, 185, 185); }

.edit-btn { 
    margin-top: 5vh; 
    padding: 1vh 2vw; 
    font-size: clamp(0.75rem, 1vw, 1rem);
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(238, 238, 238); 
    background: darkslategray;
    box-shadow: 0 0 2px gray; 
    border-radius: 0.25rem; 
}

.submit-button { letter-spacing: 1px; color: darkslategray; border: 1px solid; }

.bio-edit { margin: 1vh auto; justify-content: center; flex-direction: column; letter-spacing: 1px; width: 100%; }
.bio-edit > textarea { 
    padding: 1vh 1vw; 
    min-height: 15vh; 
    word-wrap: break-word;
    width: 100%;  
    color: rgb(97, 97, 97); 
    background: rgb(248, 248, 248);
    outline: 0;
    border-radius: 0.25rem;
}
.bio-edit > div { column-gap: 1vw; color: rgb(73, 73, 73); }

.cancel-button, .submit-button { 
    margin-top: 1.5vh; 
    padding: 0.5vh 0.5vw; 
    font-size: clamp(0.75rem, 0.875vw, 0.875rem); 
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0.125rem; 
    background: transparent;
    border: 2px solid;
}
.cancel-button { color: gray; }

.cancel-button:hover, .submit-button:hover {
    opacity: 0.7;
}

.profile-footer { column-gap: 2vw; width: 100%; color: rgb(73, 73, 73); }
.profile-footer > div {
    justify-content: center;
    column-gap: 0.5vw;
    font-weight: 500;
    color: darkslategray;
}
.profile-footer > div > span { font-size: clamp(0.75rem, 1vw, 1rem); }
.profile-footer > div > h1 { margin: 0; font-size: clamp(0.875rem, 1.5vh, 1.5rem); }

.profile-media { margin: 0 auto; width: 100%; }

.media-nav { justify-content: center; width: 100%; box-shadow: 0 0 1px; }
.media-nav-li { 
    padding: 2vh 0; 
    text-align: center; 
    font-weight: 700;
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    width: 10vw; 
    color: grey; 
    border-bottom: 2px solid transparent; 
}
.media-nav-li:hover { opacity: 0.7; }
.media-nav-li.highlight { color: darkslategray; border-bottom: 2px solid; pointer-events: none; }

@media (max-width: 50rem) {
    .profile-image { height: 15vh; width: 15vh; }
    .profile-label { padding-top: 7.5%; row-gap: 1vh; width: 100%; }
    .profile-bio { width: 100%; }
    .media-nav-li { width: 25vw; }
}

@media (max-width: 35rem) { .media-nav > div { width: 45vw; } } 

@media (max-width: 25rem) {
    .profile-label { padding-top: 15%; }
    .profile-footer { row-gap: 1vh; flex-wrap: wrap; }
    .profile-footer > div { column-gap: 2vw; }
}

@media (max-width: 15rem) {
    .profile-label { padding-top: 20%; }
    .profile-image { height: 12.5vh; width: 12.5vh; }
}