.profile { 
    margin: 2vh auto 0 auto;
    padding: 0 2vw 5vh 2vw;
    flex-wrap: wrap;
    row-gap: 1vh;
    width: 90%;
    overflow: hidden;
}
.profile-header {
    padding-bottom: 3vh;
    flex-direction: column;
    row-gap: 2vh;
    width: 100%;
    background: rgb(223, 223, 223);
    border-radius: 0.5rem;
    overflow: hidden;
}

.profile-top { padding: 2.5vh 0; position: relative; flex-direction: column; row-gap: 2vh; width: 100%; }

.profile-image {
    position: relative;
    height: 25vh;
    width: 25vh;
    object-fit: cover;
    border-radius: 10rem;
    box-shadow: 0 0 3px;
    z-index: 1;
}

.profile-background { position: absolute; inset: 0 auto auto 0; height: 100%; width: 100%; object-fit: cover; }

.profile-name { 
    position: relative;
    padding: 0 max(0.5rem, 1vw) 0.5vh max(0.5rem, 1vw);
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    width: fit-content;
    letter-spacing: 0.1rem;
    color: rgb(73, 73, 73); 
    background: rgb(218, 218, 218);
    border-radius: 0.5rem;
}

.profile-bio { flex-direction: column; justify-content: center; flex-wrap: wrap; width: 100%; }

.bio-label { margin: 0; padding: 0; text-align: center; font-size: clamp(1.5rem, 2vw, 2rem); font-family: 'Playfair Display', serif; width: 100%; color: rgb(94, 94, 94); }
.bio-body { flex-direction: column; width: 75%; font-size: 0.875rem; font-weight: 500; color: rgb(153, 153, 153); }

.edit-btn { 
    margin-top: 4vh; 
    padding: 0.5vh 2vw; 
    font-weight: 500;
    color: rgb(223, 223, 223); 
    background: royalblue;
    box-shadow: 0 0 2px gray; 
    border-radius: 0.25rem; 
}

.cancel-button, .submit-button { 
    margin-top: 1.5vh; 
    padding: 0.75vh 0.75vw; 
    font-size: 0.875rem; 
    font-weight: 500;
    border-radius: 0.125rem; 
    color: rgb(73, 73, 73); 
    background: transparent;
    border: 1px solid;
}
.submit-button { color: royalblue; border: 1px solid; }

.bio-edit { margin: 1vh auto; justify-content: center; column-gap: 1vw; width: 100%; }
.bio-edit > textarea { 
    padding: 1vh 1vw; 
    min-height: 15vh; 
    word-wrap: break-word; 
    width: 50%; 
    color: rgb(73, 73, 73); 
    background: rgb(201, 201, 201);
    border: 0;
    outline: 0;
    border-radius: 0.25rem;
}
.bio-edit > div { column-gap: 1vw; }

.profile-footer { margin: 2.5vh auto; justify-content: center; column-gap: 5vh; width: 100%; color: rgb(73, 73, 73); }
.profile-footer > div {
    justify-content: center;
    column-gap: 1vw;
    font-size: 1.25rem;
    font-weight: 500;
    height: 12.5vh;
    width: 25vh;
    background: rgb(190, 190, 190);
    box-shadow: 0 0 2px gray; 
    border-radius: 4rem;
}
.profile-footer > div > h1 { font-size: 2rem; }

.profile-media { margin: 0 auto; background: rgb(218, 218, 218); width: 100%; }

.media-nav { justify-content: center; width: 100%; border-radius: 0.5rem; }
.media-nav-li { 
    padding: 3vh 0; 
    text-align: center; 
    font-weight: 700;
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    width: 10vw; 
    color: grey; 
    border-bottom: 2px solid transparent; 
}
.media-nav-li:hover { opacity: 0.7; }
.media-nav-li.highlight { color: green; border-bottom: 2px solid; pointer-events: none; }

@media (max-width: 50rem) {
    .profile { width: 100%; }
    .profile-image { height: 20vh; width: 20vh; }
    .profile-footer { column-gap: 2vw; }
    .profile-footer > div { column-gap: 3vw; height: 10vh; width: 20vh; } 
    .media-nav-li { width: 25vw; }
}

@media (max-width: 35rem) { .media-nav > div { width: 45vw; } } 

@media (max-width: 25rem) {
    .profile-image { height: 17.5vh; width: 17.5vh; }
    .profile-footer { row-gap: 2vh; flex-wrap: wrap; }
}