.profile { 
    padding: 5vh 2vw;
    flex-wrap: wrap;
    row-gap: 2vh;
    width: 100%;
    overflow: hidden;
}
.profile-header {
    flex-direction: column;
    padding: 5vh 0;
    width: 100%;
    background: rgb(19, 19, 19);
    box-shadow: 0 0 1px;
}
.profile-image {
    margin: 0 auto;
    height: 25vh;
    width: 25vh;
    object-fit: cover;
    border-radius: 10rem;
}
.profile-name { 
    margin: 2vh 0;
    padding: 0 1vw;
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1rem;
    color: gold; 
    background: black;
    border-radius: 0.75rem;
}

.profile-bio { flex-direction: column; justify-content: center; flex-wrap: wrap; width: 100%; }

.bio-label { margin: 0; padding: 0; text-align: center; font-size: clamp(1.5rem, 2vw, 2rem); font-family: 'Playfair Display', serif; width: 100%; color: gray; }
.bio-body {
    flex-direction: column;
    width: 75%;
    font-size: 0.875rem;
    font-weight: 700;
    color: white;
}

.edit-btn { margin-top: 4vh; padding: 0.5vh 2vw; background: gray; border-radius: 0.125rem; }

.cancel-button, .submit-button { 
    margin-top: 1.5vh; 
    padding: 0.75vh 0.75vw; 
    font-size: 0.875rem; 
    border-radius: 0.125rem; 
    color: grey; 
    background: transparent;
    border: 1px solid;
}
.submit-button { color: royalblue; border: 1px solid; }

.bio-edit { margin: 1vh auto; justify-content: center; column-gap: 1vw; width: 100%; }
.bio-edit > textarea { padding: 1vh 1vw; min-height: 15vh; width: 50%; background: gray; word-wrap: break-word; }
.bio-edit > div { column-gap: 1vw;}
