
.register-form { 
    padding: 0 0 20vh 0;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center; 
    flex-wrap: wrap;
    row-gap: 0;
    width: 90%; 
    color: grey;
}

.register-label {
    margin: 10vh auto 2vh 0;
    padding: 4vh 2vw;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    color: grey;
    background: rgb(247, 247, 247);
    border-radius: 0.5rem;
    animation: fadeSlideLeft 0.4s forwards;
}

.register-msg { color: darkslategray; }
.image-input {
    margin: 0 auto;
    padding: 5vh 2vw; 
    flex-wrap: wrap; 
    row-gap: 4vh; 
    width: 100%; 
    background: rgb(247, 247, 247);
    border-radius: 0.5rem;
    animation: fadeSlideLeft 0.4s ease-in; 
}
.preview-register-image { height: 30vh; width: 30vh; object-fit: cover; object-position: center; border-radius: 0.25rem; }

.register-image-input { display: none; }
.register-image-button {
    margin: auto 2vw auto 5vw;
    padding: 2vh 2vw;
    font-size: clamp(0.75rem, 1vw, 1rem);
    color: white;
    background: linear-gradient(to right, darkslategray 30%, slategray);
    box-shadow: 0 0 3px gray;
    border-radius: 2rem;
}
.register-image-button:hover { opacity: 0.7; }

.register-inputs {
    flex-direction: column;
    justify-content: center;
    margin: 2.5vh 0;
    padding: 4vh 2vw;
    row-gap: 5vh;
    column-gap: 4vw;
    min-height: 30vh;
    width: 100%;
    background: rgb(247, 247, 247);
    border-radius: 0.5rem;
    opacity: 0;
    animation: fadeSlideUp 0.4s 0.4s forwards;
}
.register-input-wrapper { 
    min-height: 3vh; 
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5vh;
    width: 100%; 
}
.register-input-wrapper > h1 { margin: 0; color: darkslategray; font-weight: 700; letter-spacing: 0.5px; }
.register-input-wrapper > span { margin: 1vh 0; font-size: clamp(0.75rem, 0.875vw, 0.875rem); color: rgb(180, 180, 180); }
.register-input-wrapper > input { padding: 2vh 0; width: 100%; color: darkslategray; border-radius: 0.25rem; }
.input-label { font-size: 0.875rem; font-weight: 300; width: 100%; }
.input-label::after { content: " *"; color: darkslategray; }
.register-btn { 
    margin: 7.5vh auto 0 auto;
    padding: clamp(1rem, 2.5vw, 1.25rem) 0;
    font-size: clamp(0.625rem, 1.25vw, 1.25rem);
    font-weight: 700;
    letter-spacing: 0.125rem; 
    width: 80%;  
    color: white;
    background: darkslategray;
    border-radius: 1rem;
}
.register-btn:hover { opacity: 0.4; }

@media (max-width: 50rem) {
    .register-form { padding: 5vh 1vw 5vh 1vw; width: 95%; }
    .register-label { margin: 2vh auto 2vh 0; }
    .image-input { justify-content: center; }
    .register-input-wrapper { padding: 0 2.5vw; }
}

@media (max-width: 25rem) {
    .register-form { row-gap: 1vh; width: 100%; }
    .register-label { margin: 1vh auto 1vh 0; text-align: center; }
    .register-inputs { margin: 1vh auto; row-gap: 5vh; }
}
