
.register-form { 
    grid-template-columns: 48% 48%;
    flex-wrap: wrap;
    padding: 7.5vh 5vw 20vh 5vw; 
    row-gap: 5vh;
    font-weight: 700; 
    width: 100%; 
    background: white;
}

.register-label {
    text-align: right;
    grid-column: 1 / 2;
    width: 80%;
    font-size: clamp(1rem, 2vw, 2rem);
    letter-spacing: 1px;
    color: rgb(131, 131, 131);
}

.linebreak { 
    grid-column: 1 / 3;
    width: 100%;
    border-top: 1px solid rgb(214, 214, 214);
}

.register-msg { color: 'royalblue' }
.image-input { margin: 0 auto; flex-direction: column; row-gap: 4vh; width: 75%; }
.preview-register-image { height: 30vh; width: 30vh; object-fit: cover; object-position: center; border-radius: 0.5rem; }
.register-image-input { 
    display: none;
}
.register-image-button {
    padding: 2vh 2vw;
    font-size: clamp(0.75rem, 1vw, 1rem);
    color: royalblue;
    background: transparent;
    border: 2px solid;
    border-radius: 2rem;
}

.register-inputs {
    grid-column: 1 / 3;
    grid-template-columns: 40% 40%;
    justify-content: center;
    margin-top: 5vh;
    row-gap: 7.5vh;
    column-gap: 4vw;
    min-height: 30vh;
    width: 100%;
}
.register-input-wrapper { 
    min-height: 3.1rem; 
    flex-direction: column;
    row-gap: 1vh;
    align-items: flex-start;
    width: 100%; 
}
.register-input-wrapper > h1 { margin: 0; }
.register-input-wrapper > span { font-size: clamp(0.75rem, 0.875vw, 0.875rem); color: rgb(109, 109, 109); }
.register-input-wrapper > input { width: 100%; background: rgb(240, 240, 240); border-radius: 0.25rem; }
.input-label { margin: auto auto 5px auto; font-size: clamp(0.875rem, 2.5vw, 1rem); width: 90%; color: rgb(131, 131, 131); }
.input-label::after { content: " *"; color: red; }
.register-btn { 
    grid-column: 1 / 3;
    margin: 7.5vh auto 0 auto;
    padding: clamp(1rem, 2.5vw, 1.25rem) 0;
    font-size: clamp(0.625rem, 1.25vw, 1.25rem);
    font-weight: 700;
    letter-spacing: 0.125rem; 
    width: 90%;  
    color: gray;
    border: 2px solid;
    background: transparent;
}
.register-btn:hover { background: gold; color: black; }

@media (max-width: 50rem) {
    .register-form { grid-template-columns: 97.5%; padding: 2vh 1vw 5vh 1vw; row-gap: 2.5vh; }
    .register-label { text-align: center; width: 100%; } 
    .linebreak, .register-inputs, .register-btn { grid-column: 1 / 2; }
    .register-inputs { grid-template-columns: 100%; }
    .register-input-wrapper { width: 100%; padding: 0 2.5vw; }
}
