
.register-form { 
    grid-template-columns: 45% 45%;
    flex-wrap: wrap;
    padding: 10vh 5vw; 
    row-gap: 5vh;
    font-weight: 700; 
    width: 100%; 
    background: #2c2c2c;
    box-shadow: 0 0 3px;
}

.register-link { 
    margin-top: 0.75rem;
    text-align: center;
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    letter-spacing: 0.05rem;
    width: 60%; 
    min-height: 2.5rem; 
    color: gray; 
}
.register-link:hover { text-decoration: underline; }

.register-label {
    width: 70%;
    font-size: clamp(1rem, 5vw, 2rem);
    font-family: fantasy;
    letter-spacing: 1px;
    color: rgb(131, 131, 131);
}

.linebreak { 
    margin-bottom: 2.5vh;
    width: 100%;
    border: 1px solid rgb(58, 58, 58);
}

.register-msg { color: 'green' }
.image-input { width: 75%; }
.preview-image { width: 25%; object-fit: cover; object-position: center; border-radius: 1rem; }
.file { 
    margin-left: 2.5vw; 
    text-indent: 3vw; 
    line-height: 3.3rem; 
    width: fit-content; 
    background: transparent; 
    color: gray; 
    border: 2px solid gray; 
    border-radius: 1rem;  
}

.register-inputs {
    grid-template-columns: 45% 45%;
    justify-content: center;
    row-gap: 7.5vh;
    min-height: 30vh;
    width: 100%;
}
.register-input-wrapper { 
    min-height: 3.1rem; 
    flex-direction: column;
    row-gap: 1vh;
    align-items: flex-start;
    width: 70%; 
}
.register-input-wrapper > h1 { margin: 0; }
.register-input-wrapper > span { font-size: 0.875rem; color: rgb(109, 109, 109); }
.register-input-wrapper > input { width: 100%; color: rgb(179, 179, 179); background: rgb(39, 39, 39); border-radius: 0.25rem; }
.input-label { margin: auto auto 5px auto; font-size: clamp(0.875rem, 2.5vw, 1rem); width: 90%; color: rgb(131, 131, 131); }
.input-label::after { content: " *"; color: red; }
.register-btn { 
    margin: 15vh auto 0 auto;
    padding: clamp(1rem, 2.5vw, 1.25rem) 0;
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    font-weight: 700;
    letter-spacing: 0.125rem; 
    width: 60%;  
    color: gold;
    border: 1px solid;
    background: transparent;
}
.register-btn:hover { background: gold; color: black; }

@media (max-width: 50rem) {
    .register-form { padding: 2vh 5vw; row-gap: 2.5vh; }
    .register-label { margin: 0 auto; } 
    .preview-image { width: 40%; }
    .register-inputs { grid-template-columns: 90%; }
    .register-input-wrapper { width: 100%; padding: 0 2.5vw; }
}
