.search {
    min-height: 45rem;
    padding-bottom: 100px;
    margin: 5rem 0 5rem 5%;
    width: 90%;
    background: white;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 0.25rem;
    box-shadow: 0 0 3px gray;
}

.search-wrapper { grid-template-columns: 22% 22% 22% 22%; row-gap: 3rem; }
.search-wrapper > h1 {
    grid-column: 1 / 5;
    font-size: clamp(3rem, 5vw, 3.5rem);
    letter-spacing: 0.125rem;
    color: orange;
    animation: fadeSlideLeft 0.5s ease-in;
}

.user-container { position: relative; min-height: 12rem; width: 100%; border-radius: 2rem; }

.user {
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 2px;
    border-radius: 2rem;
    z-index: 1;
    transition: 0.5s all ease-in;
}

.user * { transition: 0.5s all; }
.user:hover { height: 25rem; width: 15rem; z-index: 2;}
.user-image { 
    position: relative; 
    height: 100%; 
    width: 100%; 
    object-fit: cover; 
    object-position: center;
    border-radius: 1.5rem; 
}
.user-name { 
    justify-content: space-around;
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    color: white; 
    word-break: break-all; 
}

.user-bio-icon { 
    justify-content: space-around;
    position: absolute;
    padding: 0.5rem 0.5rem 0 0.5rem;
    inset: 0 0 auto auto;
    background: black;
    border-radius: 0 1.5rem;
    z-index: 2;
}

.user-bio {
    display: none;
    position: absolute;
    padding: 0.25rem 0.5rem;
    bottom: 0;
    background: white;
    border-radius: 0 0 1.5rem 1.5rem;
    z-index: 2;
}

.user-bio.focus { display: block; }

.user:hover .user-name { font-size: 1rem; }
.user:hover .user-image { animation: animateImage 3s; }

.user-add-1::after, .user-add-2::after {
    display: none;
    position: absolute;
    inset: 0 0 auto auto;
    padding: clamp(0.25rem, 1vw, 0.375rem) 0.75rem;
    margin-left: clamp(0.5rem, 2.5vw, 1rem);
    transform: translate3d(65%, -90%, 0);
    font-size: clamp(0.75rem, 2.5vw, 0.875rem);
    text-align: center;
    background: white;
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    box-shadow: 0 0 3px black;
    opacity: 0;
    transition: 2s all;
}

.user-add-1:hover::after { 
    content: 'Add Person';
    display: block; 
    color: black;
    background: yellow;
    opacity: 1;
}

.user-add-2:hover::after { 
    content: 'Connected';
    display: block; 
    color: darkgreen;
    background: limegreen;
    opacity: 1;
}

@media (max-width: 50rem) {
    .search-wrapper { grid-template-columns: 30% 30% 30%; }
    .search-wrapper > h1 { grid-column: 1 / 4; }
}