.search { margin: 3vh auto 10vh auto; min-height: 120vh; width: 100%; color: white; }

.search-wrapper { grid-template-columns: 23% 23% 23% 23%; justify-content: center; column-gap: 1vw; row-gap: 3vh; }
.search-wrapper-label {
    grid-column: -1 / 1;
    margin: 3vh auto 3vh 0;
    animation: fadeSlideLeft 0.5s ease-in forwards;
}
.search-wrapper-icon { 
    font-size: clamp(3rem, 4vw, 4rem);
    margin-right: 1vw;
}
.search-wrapper-text { 
    font-size: clamp(1rem, 2vw, 2rem); 
    font-weight: 700;
    letter-spacing: 4px; 
    color: rgb(150, 150, 150);
}

.user-search-input {
    grid-column: -1 / 1;
    margin: 0 0 3vh 0;
    padding: 1.5vh 0;
    width: 80%;
    background: rgb(250, 250, 250);
    border-radius: 0.5rem;
}

.user {
    position: relative;
    height: 50vh;
    width: 100%;
    z-index: 1;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.3s all 1s ease-in;
}

.user-image { 
    position: absolute;
    inset: 0 auto auto 0; 
    height: 100%; 
    width: 100%; 
    object-fit: cover; 
    object-position: center;
}

.user-detail {
    position: absolute;
    inset: auto auto 0 0; 
    flex-direction: column;
    padding: 2vh 1vw;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    transform: translateY(85%);
    z-index: 2;
    transition: all 0.7s ease-in;
    overflow: hidden;
}

.user-detail:hover {
    transform: translateY(0);
}

.user-name { 
    font-size: clamp(0.75rem, 1.5vw, 1.5rem);
    font-weight: 500;
    white-space: nowrap;
    letter-spacing: 1px;
    height: 20%;
    width: 100%;
    z-index: 1;
}

.user-bio {
    height: 80%;
    font-size: clamp(0.75rem, 1.125vw, 1.125rem);
    line-height: 1.5;
    color: rgb(231, 231, 231);
}

.user > .icon-wrapper {
    position: absolute;
    inset: 2.5% 5% auto auto;
    border: 0;
    z-index: 1;
}

.user-actions {
    display: none;
    position: absolute;
    padding: 2vh 2vw;
    inset: 0 auto auto 0;
    width: max-content;
    background: rgba(0, 0, 0, 0.4);
    transform: translate3d(-80%, 25%, 0);
    border-radius: 1rem;
}

.user-actions span { font-size: clamp(0.75rem, 1vw, 1rem); font-weight: 500; letter-spacing: 1px; }

.icon-wrapper:hover .user-actions {
    display: block;
}

.user .icon {  
    font-size: clamp(1rem, 2vw, 2rem);
    color: white; 
}

.user-actions > .icon-wrapper { column-gap: 0.5vw; letter-spacing: 1px; }
.user-actions > .icon-wrapper:hover { color: gold; }
.person-icon { font-size: clamp(1rem, 1.5vw, 1.5rem); }

@media (max-width: 50rem) {
    .search { width: 100%; }
    .search-wrapper { grid-template-columns: 30% 30% 30%; }
    .user-actions { padding: 2vh 4vw; }
    .user-actions > .icon-wrapper { column-gap: 1vw; }
}

@media (max-width: 35rem) {
    .search-wrapper { margin: 2vh auto; grid-template-columns: 48% 48%; column-gap: 1vw; }
    .user-search-input { margin: 1vh 0 2vh 0; width: 100%; }
}

@media (max-width: 25rem) {
    .search-wrapper { row-gap: 1vh; } 
    .search-wrapper-icon { margin-right: 2vw; }
    .user { margin: 0 auto; height: 20vh; width: 100%; }
    .user-detail { padding: 2vh 3vw; transform: translateY(70%); }
    .user-actions { padding: 1vh 3vw; border-radius: 0.5rem; }
    .user-name, .user-bio { text-align: center; }
}