.side-nav { 
    margin-top: 3vh;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2vh; 
    height: 100vh;
    width: 20vw;
    color: gray; 
    z-index: 2; 
}

.side-nav.dynamic {
    display: flex;
    position: fixed;
    inset: 0 auto auto 0;
    justify-content: flex-start;
    margin-top: 0;
    row-gap: 0; 
    width: 33vw;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 0.7s ease-in;
}

.side-nav.dynamic.active {
    transform: translateX(0);
}

.side-nav.dynamic::before {
    content: "";
    position: absolute;
    inset: 0 auto auto 0;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 1;
}

.side-nav.dynamic.active::after {
    content: "";
    position: absolute;
    inset: 0 0 auto auto;
    height: 100%;
    width: 100vw;
    background: black;
    transform: translateX(100%);
    opacity: 0.7;
}

.menu-icon {
    margin: 1vh 2vw 1vh 0;
    position: relative;
    align-self: flex-end;
    color: darkslategray;
    font-size: clamp(1.25rem, 1.5vw, 1.5rem);
    height: fit-content;
    z-index: 2;
    transition: all 0.4s ease-in;
}
.side-nav.side-nav.dynamic .icon { color: rgb(200, 200, 200); }
.side-nav.dynamic .close-icon:hover {
    color: gray;
    transform: rotate(90deg);
}
.side-nav.dynamic .side-nav-section { 
    padding: 0 0 2vh 0; 
    border-top: 2px solid rgb(247, 247, 247);
    border-radius: 0;
}

.side-nav-section { 
    position: relative;
    padding: 0 2vw 4vh 1vw;
    flex-direction: column; 
    align-items: flex-start; 
    max-height: 45%;
    width: 90%; 
    background: white;
    border-radius: 0.5rem;
    z-index: 2;
    overflow: hidden;
}

.side-label { 
    justify-content: space-between; 
    margin: 2vh 0; 
    text-transform: uppercase; 
    font-weight: 500; 
    font-size: 0.875rem;
    width: 100%; 
    color: rgb(180, 180, 180); 
}
.side-label .icon-wrapper { 
    position: relative;
    padding: 0; 
    border: 0; 
    height: fit-content;
    width: fit-content; 
    background: none;  
    transform: translateY(5%);
}
.side-label .side-nav-link { 
    padding: 4vh 4vw;
    position: absolute;
    inset: auto 0 0 auto;
    display: none;
    font-weight: 300;
    font-size: 0.625rem;
    text-transform: uppercase;
    width: max-content; 
    color: grey;
    background: white;
    transform: translate3d(0%, 80%, 0);
    box-shadow: 0 3px 3px rgb(236, 236, 236);
    border-radius: 0.25rem;
}
.side-label .icon-wrapper:hover .side-nav-link, .side-nav-link:hover {  
    display: flex;
}

.side-nav-link:hover { color: darkslategray; }

.side-label .icon { font-size: clamp(1rem, 1.5vw, 1.5rem); color: gray;  }

.side-collection { flex-direction: column; row-gap: 1.5vh; }
.side-empty { padding: 3vh 0; justify-content: center; gap: 1vh; width: 100%; }
.side-empty > span { font-size: clamp(1rem, 1.125vw, 1.125rem); }

.side-li { grid-template-columns: auto auto; gap: 1.5vh; width: 100%; overflow: hidden; justify-content: flex-start; }
.side-li:hover .side-li-name { color: rgb(211, 211, 211); }
.side-li-profile { object-fit: cover; height: 6vh; width: 6vh; border-radius: 0.5rem; }
.side-li-name { 
    margin: auto 0; 
    font-size: clamp(0.75rem, 0.875vw, 0.875rem); 
    text-overflow: clip;
    letter-spacing: 0;
    white-space: nowrap;
    color: darkslategray; 
    width: 100%;
    overflow: hidden;
}

@media (max-width: 50rem) {
    .side-nav.static { display: none; }
    .side-nav.dynamic { width: 45vw; }
}

@media (max-width: 25rem) {
    .side-li { width: 100%; }
    .side-nav.dynamic { width: 90vw; }
}



