.side-nav { 
    padding-bottom: 2vh;
    position: sticky; 
    inset: 0 auto auto 0; 
    height: 100vh;
    width: 100%; 
    color: gray;
    background: white; 
    z-index: 2; 
    overflow: hidden; 
}

.side-nav.default { border-right: 1px solid rgb(221, 221, 221); }
.side-nav.default.resize { width: fit-content; }
.side-nav.default.resize * { flex-direction: column; justify-content: center; }
.side-nav.default.resize .side-nav-body { padding: 0; }
.side-nav.default.resize .side-nav-link { width: 100%; } 
.side-nav.default.resize .community-collection { padding: 0; }
.side-nav.default.resize .text { display: none; }

.side-nav.menu {
    padding-top: 1vh;
    position: absolute;
    inset: 0 auto auto 0;
    margin: 0;
    min-height: 80vh;
    width: 100%;
    background: navy;
    box-shadow: 0 5px 3px navy;
}
.side-nav.menu * { color: white; }
.side-nav-main.default { width: 100%; }

.side-nav-header { padding: 5vh 0.5vw 1vh 0.5vw; column-gap: 0.5vw; row-gap: 1vh; }

.side-nav-profile {
    height: 7vh; 
    width: 7vh;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 3rem;
}

.side-nav-name { font-size: clamp(0.75rem, 1vw, 1rem); }

.side-nav-body { padding: 1.5vh 0.5vw; flex-wrap: wrap; }

.side-nav-link { 
    justify-content: center;
    flex-direction: column; 
    flex-wrap: wrap;
    column-gap: 1vw;
    height: 10vh;
    width: 30%; 
    font-weight: 500;
    color: gray;
    background: transparent; 
    border-radius: 0.25rem;
    transition: all 0.2s ease-in; 
}
.side-nav-link > span { font-size: clamp(0.75rem, 0.875vw, 0.875rem); }
.side-nav-link:not(.logout-nav):hover { opacity: 0.7; }
.side-nav-link:not(.logout-nav).highlight { 
    font-weight: 700; 
    background: royalblue;
    box-shadow: 0 0 2px gray; 
}

.home-icon { font-size: clamp(1.25rem, 1.75vw, 1.75rem); }
.people-icon { font-size: clamp(1.5rem, 2vw, 2rem); }
.logout-icon { font-size: clamp(1.5rem, 2vw, 2rem); }

.logout-nav { column-gap: 0; color: red; }
.logout-nav > span { font-weight: 500; }

.side-nav-communities.default { width: 99%; }

.side-nav-communities-label { padding: 2vh 1vw; font-weight: 500; width: 100%; }
.side-nav-communities-label > span { font-size: clamp(0.75rem, 1vw, 1rem); }

.community-collection { padding: 3vh 1vw 4vh 0.5vw; flex-direction: column; row-gap: 1.5vh; }
.community-collection-empty { padding: 3vh 0; justify-content: center; gap: 1vh; width: 100%; }
.community-collection-empty > span { font-size: clamp(1rem, 1.125vw, 1.125rem); }

.side-community { row-gap: 1vh; column-gap: 1vw; width: 100%; }
.side-community:hover > .side-community-detail { opacity: 0.7; }

.side-community-profile { height: 6vh; width: 6vh; object-fit: cover; border-radius: 3rem; box-shadow: 0 0 2px; }

.side-community-detail { align-items: flex-start; flex-direction: column; max-width: 65%; }

.side-community-name { font-size: clamp(0.75rem, 0.875vw, 0.875rem); color: gray; }
.side-community-members { font-size: clamp(0.625rem, 0.875vw, 0.875rem); color: grey; }

@media (max-width: 70rem) { .side-nav { margin: 0 auto; }}

@media (max-width: 60rem) {
    .side-nav.default { display: none; }
    .side-nav-header { min-height: fit-content; column-gap: 2vw; }
    .side-nav-profile { height: 6vh; width: 6vh; }
    .side-nav-body { padding: 1.5vh 2vw; background: navy; }
    .side-nav-link { padding: 1vh 2vw; column-gap: 1.5vw; width: 30%; }
    .community-collection { background: navy; }
}

@media (max-width: 25rem) {
    .side-nav-profile { height: 7vh; width: 7vh; }
    .side-community { width: 100%; }
    .side-community-profile { height: 6vh; width: 6vh; }
}



